<!-- <div class="content">
  <div class="container-approved">
    <header-release
      [itemsSteps]="[
        {
          icon: 'check_circle',
          text: 'Aprobado por el segmento',
          correct: true
        },
        { icon: 'block', text: 'Aprobado por QAQC', correct: false },
        { icon: 'block', text: 'Aprobado por PEC', correct: false },
        { icon: 'block', text: 'Enviado a Campo', correct: false }
      ]"
      [title]="'Aprobados por el segmento - En revisión QAQC'"
    />
    <div class="row filter-information">
      <div class="column column-1">
        <search-by-text
          [originalItems]="this.approvedInformation"
          (itemsChange)="updateItemsChange($event)"
        />
      </div>
      <div class="column column-2">
        <search-by-date
          [originalItems]="this.approvedInformation"
          (itemsChange)="updateItemsChange($event)"
        />
      </div>
    </div>
    <show-items [filteredItems]="approvedInformationFiltered" />
  </div>
</div> -->
