@import "src/themes/base/base-theme";
@import '@slb-dls/angular-material/assets/styles/theming/dls-palette';
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.stardard-theme{
    .headerSection {
        display: flex;
        background-color: map-get($colors, shayaBlue) !important;
        padding: 0px 10px;
        .dls-page-header-row {
            display: flex !important;
        }
        .dls-secondary-navigation-toolbar {
            align-content: flex-end !important;
            width: 100% !important;
            flex: 1 !important;
            display: flex !important;
        }
        .buttonContainer {
            margin: 10px 0px !important;
            width: 100% !important;
            display: flex !important;
            flex: 1 !important;
            justify-content: flex-end !important;
            button {
                margin: 0px 5px !important;
            }
            
        }
    }
}

.error-theme{
    .headerSection {
        display: flex;
        background-color: map-get($colors, shayaRed) !important;
        padding: 0px 10px;
        .dls-page-header-row {
            display: flex !important;
        }
        .dls-secondary-navigation-toolbar {
            align-content: flex-end !important;
            width: 100% !important;
            flex: 1 !important;
            display: flex !important;
        }
        .buttonContainer {
            margin: 10px 0px !important;
            width: 100% !important;
            display: flex !important;
            flex: 1 !important;
            justify-content: flex-end !important;
            button {
                margin: 0px 5px !important;
            }
            
        }
    }
}

