<app-custom-shaya-header [headerTitle]="'Información que se enviará a Taladro'">
</app-custom-shaya-header>
<div class="check-files-summary" *ngIf="pendingInformation.availableFiles.length !== 0">
  <div
    *ngFor="let availableGroup of pendingInformation.availableFiles; let i = index"
    class="documents-iterator"
  >
    <div class="availableFiles">
      <p>FALTA TERMINAR 7</p>
      <!-- <app-button-upload
        [label]="availableGroup.groupName"
        [files]="availableGroup.files ? toFileArray(availableGroup.files) : []"
        [editDisabled]="true"
      >
      </app-button-upload> -->
    </div>
  </div>
</div>
<div class="container support-documents-header">
  <div class="column title-column-1">
    <p>DESCRIPCIÓN</p>
  </div>
  <div class="column title-column-2">
    <p>CANTIDAD</p>
  </div>
  <div class="column title-column-3">
    <p>DOCUMENTOS DE SOPORTE</p>
  </div>
</div>
<div class="support-documents-container">
  <div class="check-documents-row" *ngFor="let item of pendingInformation.elements">
    <div class="check-documents-column column-50">
      <div class="description-info">
        <p>{{ item.pecDescription }}</p>
      </div>
    </div>
    <div class="check-documents-column column-20">
      <p>{{ item.quantity }}</p>
    </div>
    <div class="check-documents-column column-30">
      <div *ngFor="let group of item.supportDocuments">
        <div class="support-description">
          <p>FALTA TERMINAR 8</p>
          <!-- <app-button-upload
            [label]="group.groupName"
            [files]="toFileArray(group.files)"
            [editDisabled]="true"
          >
          </app-button-upload> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container onAccept">
  <div class="column">
    <app-button (click)="goOnAddSigns()" label="Aceptar"></app-button>
    <app-button (click)="goOnAddSigns()" label="Rechazar 2"></app-button>

    <app-load-reject-dialog [wellRejectInformation]="pendingInformation"></app-load-reject-dialog>
  </div>
</div>
