@import "src/themes/base/base-theme";
@import '@slb-dls/angular-material/assets/styles/theming/dls-palette';
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

// Standard theme with green background and black text
.stardard-theme-shaya-header-greenSheen {
  .headerSection {
    display: flex;
    background-color: map-get($colors, shayaGreen) !important;
    padding: 0px 10px;
    font-weight: bold;
    color: map-get($colors, shayaBlue) !important;; // Ensure black text is applied here
    text-align: center; // Corrected alignment
    justify-content: center; // Centering flex items

    .dls-page-header-row {
      display: flex !important;
      flex: 1; // Ensure it takes full width
      justify-content: center; // Centering content
      align-items: center; // Vertically center items
      text-align: center; // Align text in the center
    }
    .dls-secondary-navigation-toolbar {
      align-content: flex-end !important;
      width: 100% !important;
      flex: 1 !important;
      display: flex !important;
      justify-content: center; // Ensure content is centered
    }
    .buttonContainer {
      margin: 10px 0px !important;
      width: 100% !important;
      display: flex !important;
      flex: 1 !important;
      justify-content: center; // Center buttons horizontally
      button {
        margin: 0px 5px !important;
      }
    }
  }
}

// Error theme with red background
.error-theme-shaya-header-greenSheen {
  .headerSection {
    display: flex;
    background-color: map-get($colors, shayaRed) !important;
    padding: 0px 10px;
    font-weight: bold;
    color: map-get($colors, shayaRed) !important;; // Ensure black text is applied here
    text-align: center; // Corrected alignment
    justify-content: center; // Centering flex items

    .dls-page-header-row {
      display: flex !important;
      color: black; // Inherit black text color
      flex: 1; // Ensure it takes full width
      justify-content: center; // Centering content
      align-items: center; // Vertically center items
      text-align: center; // Align text in the center
    }
    .dls-secondary-navigation-toolbar {
      align-content: flex-end !important;
      width: 100% !important;
      flex: 1 !important;
      display: flex !important;
      justify-content: center; // Ensure content is centered
    }
    .buttonContainer {
      margin: 10px 0px !important;
      width: 100% !important;
      display: flex !important;
      flex: 1 !important;
      justify-content: center; // Center buttons horizontally
      button {
        margin: 0px 5px !important;
      }
    }
  }
}
