<mat-form-field slbFormField #field [color]="color" [size]="size" class="inputField">
  <span *ngIf="showPrefix" matPrefix> {{ prefix }}&nbsp; </span>
  <mat-label *ngIf="showLabel">
    {{ label }}
  </mat-label>
  <input
    #input
    matInput
    [formControl]="formControl"
    [required]="required"
    [readonly]="readonly"
    [placeholder]="placeholder"
    (input)="handleInput($event)"
    autocomplete="off"
  />
  <mat-hint *ngIf="showHint">Hint: {{ hint }}</mat-hint>
  <mat-icon *ngIf="showSuffix && !suffix" matSuffix svgIcon="emoji"> </mat-icon>
  <span *ngIf="showSuffix && suffix" matSuffix> {{ suffix }}&nbsp; </span>
  <mat-error>Invalid value</mat-error>
  <mat-error *ngIf="formControl?.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
