
<app-custom-shaya-header headerTitle="Rechazar información">
</app-custom-shaya-header>
<app-custom-shaya-header headerTitle="Por favor, proporciona más información para rechazar la revisión. Tu retroalimentación es importante para corregir los problemas encontrados.">
</app-custom-shaya-header>
<app-custom-shaya-header headerTitle="Ingresa las observaciones por las que rechazas la información">
</app-custom-shaya-header>
<input></input>
<input type="checkbox">Confirmo que he revisado la información y mi rechazo es definitivo</input>
<div class="buttons-wrapper">
  <div class="button-container">
    <app-button label="Cancelar"></app-button>
  </div>
  <div class="button-container">
    <app-button label="Rechazar revisión"></app-button>
  </div>
</div>