.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  
  .button-container {
    padding: 1%;
    width: 100%; 
    display: flex;
    justify-content: center; 
  }