.well-rig-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: bold;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  position: sticky; /* Lo hace sticky */
  top: 0; /* Se pega arriba cuando llegas a él */
  background: #eaebf1; /* Dale fondo si quieres tapar lo de atrás */
  z-index: 1000;
  height: 3%;
}

.well-rig-text {
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  display: flex;
  background-color: #eaebf1;
  width: 100%;
}

.part1,
.part3 {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

.part2 {
  flex: 3;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 0.5fr);
  gap: 0;
  width: 100%;
}

.grid-item {
  padding: 7px;
  border: 0.5px solid #ccc;
  background-color: #f0f0f0;
  text-align: center;
}

.grid-item:nth-child(2),
.grid-item:nth-child(4) {
  background-color: #ffff00;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.item {
  // background-color: lightblue;
  // border: 1px solid #000;
  padding: 7px;
}

.form-group {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  justify-content: flex-end;
}

.form-group label {
  margin-right: 5px;
  font-size: 14px;
}

.custom-input {
  background-color: #bebebe;
  color: black;
  width: flex;
  font-size: 14px;
  border-radius: 3px;
}

.custom-date {
  width: 100%;
  cursor: pointer;
  filter: invert(1);
}

.highlight-input {
  background-color: rgb(255, 255, 0);
  //background-color: rgb(255, 255, 255);
}

//Inicio estilos Encabezados de 3
.header-container-horizontal {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.expandable-seccion-uno {
  //flex: 2;
  width: 75%;
  /* 75% del ancho */
  border: 1px solid #ebecf2;
  padding: 1px;
  height: auto;
  min-width: 50%;
}

.expandable-seccion-dos {
  //flex: 1;
  width: 50%;
  border: 1px solid #ebecf2;
  padding: 1px;
  height: auto;
  min-width: 25%;
}

.expandable-seccion-media {
  //flex: 1;
  width: 25%;
  border: 1px solid #ebecf2;
  padding: 1px;
  height: auto;
  min-width: 25%;
}

//Fin estilos Encabezados de 3

//Inicio estilo tabla

.responsive-table {
  width: 100%;
  height: auto;
  table-layout: fixed;
  //margin-bottom: 40px;
  border-collapse: collapse;
  margin-top: 7px;
  margin-bottom: 10px;
  // overflow-x: scroll;
}

.responsive-table th,
.responsive-table td {
  padding: 5px;
  text-align: center;
  border: 0.5px solid #ddd;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.responsive-table thead th {
  font-size: 14px;
  background-color: #f4f4f9;
  font-weight: bold;
}

.responsive-table thead .unit {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #666;
}

.responsive-table th[rowspan] {
  background-color: #e0e0e0;
}

.responsive-table tbody th {
  font-size: 12px;
  background-color: #f4f4f9;
  text-align: right;
}

.responsive-table {
  font-size: 12px; /* Tamanio letra tablas */
}
.editable-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* Asegura que el tamaño del input no se desborde */
  //padding: 5px;
  /* Evita que el padding altere el ancho total */
  //border: 1px solid transparent;
  text-align: center;
}

.responsive-table input {
  border: 1px solid #ccc;
  /* Borde para los inputs */
  padding: 2px;
  text-align: left;
  /* Alineación de texto */
}

.input-container {
  display: flex;
  align-items: center;
  /* Alinea el texto con el input */
  width: 100%;
  position: relative;
}

.input-container .input-text {
  margin-left: 5px;
  /* Espacio entre el input y el texto */
  font-size: 14px;
  color: #333;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  /* Organiza los hijos de manera horizontal */
  gap: 80px;
  /* Espacio entre las columnas */
  justify-content: center;
  align-items: center;
  //height: 100%;
  margin-top: 10px;
}

.vertical-space {
  display: flex;
  flex-direction: column;
  /* Organiza los inputs de manera vertical */
  gap: 10px;
  /* Espacio entre los inputs */
  align-items: center;
  margin-right: 5px;
}

.headerSectionSmall {
  display: flex;
  flex-direction: column;
  /* Para apilar los elementos verticalmente */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  background-color: #cececec9;
  padding: 0;
  margin: 0;
}

.headerSectionSmallRight {
  display: flex;
  flex-direction: column;
  /* Para apilar los elementos verticalmente */
  justify-content: center;
  align-items: left;
  width: 40%;
  height: auto;
  color: white;
  background-color: blue;
  padding: 0;
  margin-left: 15px;
  //margin-right: 70px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.headerSectionSmall .subText {
  font-size: 12;
  /* Tamaño de letra más pequeño */
  color: grey;
  /* Color gris */
  margin-top: 0px;
  /* Espacio entre el h6 y el texto adicional */
}

/* Botón circular general */
.circular-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

/* Botón "Agregar" con signo "+" */
.add-btn {
  background-color: #28a745;
  /* Verde para agregar */
  position: relative;
}

.add-btn .plus-sign {
  color: white;
  /* Signo "+" en rojo */
  font-size: 24px;
  /* Tamaño del signo */
  font-weight: bold;
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  bottom: 50px;
  /* Mostrar el menú arriba del botón */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  /* Asegura un ancho mínimo */
}

.dropdown-menu li {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

/* Botón "Eliminar" con signo "−" */
.remove-btn {
  background-color: #dc3545;
  /* Rojo para eliminar */
}

.remove-btn .minus-sign {
  color: white;
  /* Signo "−" en blanco */
  font-size: 24px;
  /* Tamaño del signo */
  font-weight: bold;
}

/* Estilo cuando un elemento es arrastrado */
.cdk-drag-preview {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Cambia la opacidad de los elementos que no se están arrastrando */
.cdk-drag-placeholder {
  opacity: 0.5;
}

tr.cdk-drag:hover {
  cursor: grab;
}

.text-area {
  width: 100%;
  padding: 10px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container-horizontal-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

//Rig time

table {
  width: 100%;
  //border-collapse: collapse;
}

/* Asegurar que la celda Detalle no tenga padding extra */
.detalle-cell {
  padding: 0;
}

.detalle-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}

.header-rig-time {
  background-color: #000dff;
  /* Azul */
  color: white;
  /* Letras blancas */
  text-align: center;
  /* Centrar el texto */
  padding: 10px;
  /* Espaciado interno */
}

/* Celdas de detalle */
.detalle-cell {
  padding: 0;
}

td input[type='date'],
td input[type='time'] {
  display: block;
  /* Hace que los inputs se comporten como bloques */
  margin-left: auto;
  /* Centrado horizontal */
  margin-right: auto;
  /* Centrado horizontal */
  width: 80%;
  /* Tamaño ajustado */
  text-align: center;
  /* Centrado del texto dentro de los inputs */
}

//Firmas
.signatures {
  margin-top: 20px;
}

.signature {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 10px;
}

.signature hr {
  width: 80%;
  border: 1px solid black;
}

.name {
  margin-top: 5px;
  font-weight: bold;
}

.title {
  margin-top: 5px;
  font-style: italic;
}

//Ultima seccion de dowhole
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.col-left,
.col-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header3 {
  margin-top: 16px;
}

.header4 {
  margin-top: 32px;
}

//Firmas
.signature-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 7%;
  flex-wrap: wrap;
}

//Rig
.container-rig {
  overflow-x: auto;
  margin-top: 10px;
}

.custom-table-rig {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.custom-table-rig th,
.custom-table-rig td {
  border: 1px solid black;
  padding: 5px;
}

.blue-header-rig {
  background-color: #000dff;
  color: white;
  font-weight: bold;
}

.rig-time-group {
  width: 30%;
}

.rig-time {
  width: 15%;
}

.detail {
  width: 57%;
}

.time {
  width: 8%;
}

actionsRig {
  width: 5%;
}

input[type='datetime-local'],
input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.9rem;
}

.foot {
  text-align: right;
}

//Tabla final rig
.table-date-hour-work {
  width: 20%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.table-date-hour-work td,
.table-date-hour-work th {
  border: 1px solid #000;
  padding: 6px 10px;
  text-align: center;
}

/// Protectores
.protector-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
  //font-family: Arial, sans-serif;
  font-size: 14px;
  align-items: center;
  text-align: right;
}

.content-box {
  border: 0.1px solid #cececec9;
  //padding: 1px;
  //background-color: #fff;
}

.content-box p {
  margin: 4px 0;
  text-align: center;
}

.with-unit {
  padding-right: 80px; /* Aumentamos el espacio derecho para evitar que el texto y la unidad se solapen */
  width: 100%;
  box-sizing: border-box;
}

.unit-inside {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 12px;
  background-color: transparent;
  padding-left: 4px;
  pointer-events: none;
  white-space: nowrap;
}

///esstilos reporte downhole
.encabezado-elemento-downhole {
  width: 7%;
}

.encabezado-elemento-downhole-especial {
  width: 29%;
}

.encabezado-elemento-downhole-paramEstatic {
  width: 14%;
}

/* ==========================
   ASIGNACIÓN DE ANCHOS POR TIPO DE TABLA
========================== */

.col-inicio-4col {
  width: 5.75% !important;
}

.col-inicio-5col {
  width: 4.5% !important;
}

.col-final {
  width: 5% !important;
  white-space: normal;
  word-wrap: break-word;
}

.no-serie-col {
  width: 5% !important;
  min-width: 10px;
  white-space: normal;
  word-wrap: break-word;
  // text-align: left;
}

.col-centro {
  width: auto;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.descripcion-col {
  width: 27% !important;
  min-width: 140px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

//Bloquear pantalla
.overlay-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  // display: flex;
}

.gray-input {
  background-color: #f0f0f0; /* Cambia esto al tono de gris que prefieras */
  color: #666; /* Color de texto gris opcional */
}

.button-container {
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: right;
}

.well-rig-actions {
  display: flex;
  gap: 10px;
}

.well-rig-actions button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Header superior */
.header {
  display: flex;
  width: 100%;
  height: 80px; /* Ajusta según lo que necesites */
  // background-color: #ffffff;
  // border-bottom: 1px solid #ccc;
}

.header-text {
  flex: 83.33%;
  display: flex;
  justify-content: center; /* Centra el texto horizontal */
  align-items: center; /* Centra el texto vertical */
  // font-size: 1px;
  // font-weight: bold;
  padding: 1px;
  // border: 1px solid #ccc;
  // box-sizing: border-box;
  flex-direction: column;
}

.header-text h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #555;
}

.header-text h5 {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.header-image {
  flex: 16.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: 1px solid #ccc;
}

.header-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* La imagen se adapta sin deformarse */
}
