.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  text-align: center;
}

.selector-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.selector-subtitle {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 32px;
  max-width: 450px;
}

.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 50px;
  app-button ::ng-deep .dls-button {
    background-color: #25457f !important;
    color: #ffffff !important;
  }
}
