<items-of-release
  [idReleaseState]="3"
  [idBusinessLine]="
    user.idBusinessLine === 7 || user.idBusinessLine === 5
      ? null
      : user.idBusinessLine
  "
  [itemsSteps]="[
    {
      icon: 'check_circle',
      text: 'Aprobado por el segmento',
      correct: true
    },
    { icon: 'check_circle', text: 'Aprobado por QAQC', correct: true },
    { icon: 'block', text: 'Aprobado por PEC', correct: false },
    { icon: 'block', text: 'Enviado a Campo', correct: false }
  ]"
  [title]="'Aprobados por QAQC - En revisión PEC'"
  [urlRedirect]="urlRedirect"
/>
