@import 'src/themes/base/base-theme';
@import '@slb-dls/angular-material/assets/styles/theming/dls-palette';
@import 'src/themes/light/variables';

@include theme-base($dls-app-light-theme, $app-theme-config);

.buttonHeader {
  p {
    margin: 0px;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
  }
  .description {
    font-size: 14px;
    padding-left: 10px;
  }
  .require span {
    color: #7c2020;
  }
}

.uploadDropDisable {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.uploadDrop {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  .uploadDropColumnFlexible {
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex-grow: 1;
  }
  .uploadDropColumnClose {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    width: 25px;
  }
  .dls-dragzone-area-text {
    width: 100%;
  }

  .dls-dragzone-area {
    display: flex;
    padding: 0px !important;
    margin: 0px !important;
    height: auto !important;
    padding-bottom: 0px !important;
    width: 100%;
    box-sizing: border-box;

    .containerUploadButton {
      display: flex;
      width: 100%;
      .columnUploadButtonStatic {
        display: flex;
        width: 48px;
        padding: 10px 10px;
      }
      .columnUploadButtonFlexible {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        flex-grow: 1;
        flex-wrap: wrap;
        align-self: center;

        .header p {
          font-size: 14px;
          font-weight: bold;
          margin: 0px;
        }
        .containerNameFile {
          display: flex !important;
          gap: 10px !important;
          padding-bottom: 4px !important;
          flex-direction: column;
          p {
            margin: 0px;
          }
          .rowContainer {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #000000;
            padding-top: 10px;
            margin-top: 10px;
            .firstRow {
              display: flex;
              .left {
                width: 40px;
                text-align: center;
              }
              .center {
                flex: 1;
                padding: 0px 10px;
              }
              .right {
                width: 40px;
              }
            }
            .center {
              .options {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                margin-top: 10px;
                .is-valid-sign-container {
                  margin: 0px !important;
                }

                mat-icon {
                  display: flex;
                  width: auto;
                  height: auto;
                }
              }
            }
          }
          .filesInformationFull {
            margin: 0px;
            display: flex;
            gap: 7px;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex: 0 0 100%;
            .dropOneFile {
              color: map-get($colors, shayaRed);
              padding: 2px;
            }
          }
          .filesInformationHalf {
            margin: 0px;
            display: flex;
            gap: 7px;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex: 0 0 51%;
            .dropOneFile {
              color: map-get($colors, shayaRed);
              padding: 2px;
            }
          }
          .filesSigns {
            justify-content: flex-start;
            display: flex;
            .is-valid-sign-container {
              margin-top: 6px;
              app-signs-popover {
                app-button {
                  button {
                    border-radius: 5px !important;
                    word-wrap: break-word;
                    white-space: normal;
                    overflow: hidden;
                    padding: 5px !important;
                    display: flex;
                    mat-icon {
                      display: flex;
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
        .files {
          .containerNameFile {
            .filesInformationHalf {
              background-color: #d9d9d9;
              margin: 5px 0px;
              padding: 3px 10px;
              border-radius: 5px;
              mat-icon {
                display: flex;
                font-size: 20px;
              }
            }
            .filesInformationFull {
              background-color: #d9d9d9;
              margin: 5px 0px;
              padding: 3px 5px;
              border-radius: 5px;
              mat-icon {
                display: flex;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  button {
    display: flex;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow:
        0 3px 9px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &.uploadButton {
      display: flex;
      background-color: map-get($colors, shayaSecond);
      width: 40px;
      height: 40px;
      mat-icon {
        display: flex;
        font-size: 20px;
      }
    }
    &.cancelUploadButton {
      display: flex;
      background-color: map-get($colors, shayaRed);
      margin-top: 5px;
      width: 30px;
      height: 30px;
      mat-icon {
        display: flex;
        font-size: 20px;
      }
    }
  }
}

.uploadDisable {
  max-width: 368px;
  .uploadDropColumnFlexible {
    .containerUploadButton {
      .columnUploadButtonFlexible {
        .title {
          padding: 0;
          margin: 0;
          font-weight: bold;
        }
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        flex-grow: 1;
        flex-wrap: wrap;
        align-self: center;
        .files {
          .containerNameFile {
            gap: 10px;
            display: flex;
            .filesInformationFull {
              flex: 1;
              background-color: #d9d9d9;
              margin: 5px 0px;
              padding: 3px 10px;
              border-radius: 5px;
              mat-icon {
                height: 12px !important;
                width: 12px !important;
                line-height: 12px !important;
              }
            }
            .filesInformationHalf {
              flex: 0 0 60%;
              background-color: #d9d9d9;
              margin: 5px 0px;
              padding: 3px 10px;
              border-radius: 5px;
              text-align: start;
              mat-icon {
                display: flex;
                font-size: 20px;
              }
            }
            .filesSigns {
              flex: 0 0 40%;
              justify-content: flex-start;
              display: flex;
              .is-valid-sign-container {
                margin-top: 6px;
                app-signs-popover {
                  app-button {
                    button {
                      border-radius: 5px !important;
                      width: auto !important;
                      height: auto !important;
                      word-wrap: break-word;
                      overflow: hidden;
                      max-width: 120px;
                      padding: 5px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.uploadDisableNoStyles {
  .uploadDropColumnFlexible {
    .containerUploadButton {
      .columnUploadButtonFlexible {
        .files {
          .containerNameFile {
            display: flex;
            gap: 10px;
            align-items: center;
          }
        }
      }
    }
  }
}

.fileName {
  position: relative;
  flex: 1 1 50%;
  word-break: break-all;
  text-align: start;
  white-space: normal;
}

.fileNameDisable {
  flex: 1 1 50%;
  word-break: break-all;
}

.dls-toast-body .dls-details {
  word-break: break-all;
}

@keyframes fadeInOut {
  0% {
    background-color: #ffffcc;
  }
  10% {
    background-color: #ffffcc;
  }
  100% {
    background-color: rgba(255, 255, 0, 0);
  }
}
