<form [formGroup]="form">
  <div class="shared-dialog-container">
    <div class="shared-dialog-content">
      <div class="zipFileShared">
        <h2>Mapeo de Archivos desde ZIP</h2>
        <p>Archivo .zip seleccionado</p>
        <app-button-rar-upload [files]="data.zipFiles" [editDisabled]="true">
        </app-button-rar-upload>
      </div>
      <div class="unzipFilesList-container">
        <p>
          Encontramos los siguientes archivos. Asigne cada uno a los elementos correspondientes.
        </p>
        <p *ngIf="autoMapMessages.size > 0" class="automap-info-feedback">
          <mat-icon>info</mat-icon>
          <span>Se han asignado automáticamente algunos archivos a ciertos elementos, se recomienda revisar la información.</span>
        </p>
        <br />
        <div formArrayName="files">
          <div
            *ngFor="let fileWrapper of filesToDisplay; let i = index"
            class="file-list-row"
            [formGroupName]="i"
          >
          <ng-container *ngIf="formatFilePathAndName(fileWrapper.file.name) as fileInfo">
            <h3>{{ fileInfo.fileName }}</h3>
          </ng-container>
            <div *ngIf="autoMapMessages.has(i)"
              class="automap-feedback"
              [ngClass]="{
                'success-feedback': autoMapMessages.get(i)?.type === 'success',
                'warning-feedback': autoMapMessages.get(i)?.type === 'warning'
              }">
              <mat-icon class="success">{{ autoMapMessages.get(i)?.type === 'success' ? 'check_circle' : 'warning' }}</mat-icon>
              <span>{{ autoMapMessages.get(i)?.message }}</span>
              <div *ngIf="autoMapMessages.get(i)?.type === 'success'">
                <mat-icon class="info">info</mat-icon>
                <span>Puede revisar el resumen del mapeo automático y si requiere, también puede realizar el proceso de mapeo manual</span>
              </div>
            </div>
            <div class="file-display-container">
              <ng-container *ngIf="formatFilePathAndName(fileWrapper.file.name) as fileInfo">
                <app-button-upload
                  class="file-info"
                  [label]="fileInfo.fileName"
                  [extension]="fileWrapper.file.type"
                  [initialFiles]="createInitialFile(fileWrapper.file)"
                  [editDisabled]="true"
                >
                </app-button-upload>
              </ng-container>
              <button
                mat-stroked-button
                color="primary"
                class="toggle-mapping-button"
                (click)="toggleMapping(i)"
              >
                {{ fileWrapper.isExpanded ? 'Ocultar Elementos' : 'Asignar archivo a elementos' }}
                <mat-icon>{{
                  fileWrapper.isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
                }}</mat-icon>
              </button>
            </div>
            <div *ngIf="fileWrapper.isExpanded" class="mapping-section">
              <h5>Se listan los siguientes elementos:</h5>
              <div formArrayName="mappings">
                <div *ngFor="let item of elementList; let itemIndex = index" class="item-row">
                  <shared-well-description
                    [oitInspection]="item.oitInspection"
                    [oitReparation]="item.oitReparation"
                    [name]="item.pecDescription"
                    [condition]="item.condition"
                    [elementID]="item.id"
                    [serial]="item.serial"
                    [partNumber]="item.partNumber"
                  >
                  </shared-well-description>
                  <mat-form-field appearance="outline">
                    <mat-select
                      placeholder="Documentos de Soporte"
                      (selectionChange)="selectedValue(i, item.id, $event)"
                      [value]="getSelectedOption(i, item.id)"
                    >
                      <mat-option
                        *ngFor="let doc of getAvailableOptionsForItem(item, i)"
                        [value]="doc"
                      >
                        {{ doc.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="mapping-actions">
                <button slb-secondary-button type="button" (click)="onResetSelections(i)">
                  <span>Reiniciar selecciones para este archivo</span>
                </button>
                <app-button
                  [label]="'Continuar al siguiente archivo'"
                  (click)="continueToNext(i)"
                ></app-button>
              </div>
            </div>
            <div *ngIf="autoMapMessages.get(i) as autoMapInfo" class="automap-container">
              <div *ngIf="autoMapInfo.type === 'success' && autoMapInfo.matches as matches" class="automap-summary">
                <ng-container *ngIf="formatFilePathAndName(fileWrapper.file.name) as fileInfo">
                  <h4>
                    Resumen de los {{ matches.length }} elementos mapeados al archivo {{ fileInfo.fileName }}
                  </h4>
                </ng-container>

                <table class="automap-summary-table">
                  <thead>
                    <tr>
                      <th>Elemento</th>
                      <th>Documento de soporte asignado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let match of matches">
                      <td>
                        <shared-well-description
                          [oitInspection]="match.element.oitInspection"
                          [oitReparation]="match.element.oitReparation"
                          [name]="match.element.name"
                          [condition]="match.element.condition"
                          [elementID]="match.element.id"
                          [serial]="match.element.serial"
                          [partNumber]="match.element.partNumber">
                        </shared-well-description>
                      </td>
                      <td>
                        {{ match.doc.name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map-files">
      <app-button
        [label]="'Confirmar mapeo de información'"
        (click)="sendFilesInformation()"
      ></app-button>
    </div>
    <div class="custom-dialog-actions">
      <button class="custom-close-button" (click)="closeDialogFromInside()">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </div>
</form>