.download-button-zip{
  border-radius: 40px;
  gap: 4px;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  background-color: #207C47;
  color: white;
  font-size: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
}