<!-- <button 
  *ngIf="label === 'Descargar todas las carpetas en .zip' || label === 'Descargar todo en .zip'"
  class="download-button-zip" 
  (click)="toggleDownloadFolders(folder)">
  {{ label }}
</button>

<app-button 
  *ngIf="label === 'DESCARGAR'"
  label="DESCARGAR"
  (click)="toggleDownloadFolders(folder)">
</app-button> -->
<button
  *ngIf="label === 'Descargar todas las carpetas en .zip' || label === 'Descargar todo en .zip'"
  class="download-button-zip"
  (click)="toggleDownload(folder)"
>
  {{ label }}
</button>

<app-button *ngIf="label === 'DESCARGAR'" label="DESCARGAR" (click)="toggleDownload(folder)">
</app-button>
