<app-custom-shaya-header [headerTitle]="'Documentos de soporte enviados'">
</app-custom-shaya-header>
<div class="approved-information-content">
  <div class="support-description">
    <p>FALTA TERMINAR 12</p>
    <!-- <app-button-upload
      [label]="'ITP Firmado por Calidad'"
      [files]="[fileExample]"
      [extension]="'application/pdf'"
      [editDisabled]="true"
      #signedITPFile
    >
    </app-button-upload> -->
    <app-button label="Finalizar revisión" (click)="toggleButton(1, 'viewText')"></app-button>
  </div>
</div>
