

<div *ngIf="dataToDisplay">
  <div *ngFor="let group of objectKeys(dataToDisplay)">
   <h2 class="table-title"
     #tableTitle
     [ngStyle]="getTitleStyle()"
     *ngIf="group !== 'Default'"> <!--Nico - Fran: No se incluye el encabezado default-->
     {{ group }}
   </h2>

   <ng-container *ngIf="isObject(dataToDisplay[group]) && !isArrayOfRows(dataToDisplay[group]); else displayTable">
     <ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: dataToDisplay[group], label: group, fullPath: group }"></ng-container>
   </ng-container>

   <ng-template #displayTable>
     <div *ngIf="!isCollapsed(group)">
       <table class="custom-table">
         <thead>
           <tr>
            <ng-container *ngIf="table==='table1'">
              <th  style="width: 20%;">Estado</th> 
             </ng-container>
             <ng-container *ngIf="table==='table2'">
              <th >Cantidad en pozo</th> 
             </ng-container>
        
             <th *ngFor="let col of getColumnToDisplay(group)">
               {{ getColumnDisplayName(col) }}
             </th>  
             <ng-container *ngIf="table==='table1'">
             <th  style="width: 20%;">Cantidad para el pozo</th> 
            </ng-container>
           </tr>
         </thead>

         <tbody *ngIf="getEnableDragAndDrop('')" cdkDropList
         [cdkDropListData]="getDataFromLabel(group, dataToDisplay)"
        >
           <tr *ngFor="let row of getDataFromLabel(group, dataToDisplay); let rowIndex = index" cdkDrag>
             <ng-container *ngTemplateOutlet="tableData; context: { group: group, row: row, rowIndex: rowIndex }"></ng-container>
           </tr>

         </tbody>
         <tbody *ngIf="!getEnableDragAndDrop('')" >
           <tr *ngFor="let row of getDataFromLabel(group, dataToDisplay); let rowIndex = index">
             <ng-container *ngTemplateOutlet="tableData; context: { group: group, row: row, rowIndex: rowIndex }"></ng-container>
           </tr>

         </tbody>
       </table>
     </div>
   </ng-template>
 </div>
</div>

<ng-template #recursiveTemplate let-data let-label="label" let-fullPath="fullPath">
 <div *ngFor="let group of objectKeys(data)">
   <h2 class="table-subtitle"
   *ngIf="shouldShowTableTitle() && (isGrouped || group !== 'Default') && group !== 'Default'"
   [ngStyle]="getTitleStyle()"
   style="display: flex; justify-content: space-between; align-items: center;">

   <img (click)="eraseGroup(fullPath + '/' + group)" src='../../../assets/delete_icon.png' alt="Erase" style="height: 30px; width: 30px; margin: 10px; margin-right: auto;" />

   <span>{{ group }}</span>

   <img (click)="toggleCollapse(fullPath + '/' + group)" [src]="isCollapsed(fullPath + '/' + group) ? '../../../assets/expand_icon.png' : '../../../assets/collapse_icon.png'" alt="Toggle Collapse" style="height: 30px; width: 30px; margin: 10px; margin-left: auto;" />
</h2>

   <div *ngIf="!isCollapsed(fullPath + '/' + group)">
     <ng-container *ngIf="isObject(data[group]) && !isArrayOfRows(data[group]); else displayTable">
       <ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: data[group], label: label + '/' + group, fullPath: fullPath + '/' + group }"></ng-container>
     </ng-container>
   </div>

   <ng-template #displayTable>
     <div *ngIf="!isCollapsed(fullPath + '/' + group)">
       <table class="custom-table">
         <thead>
           <tr>
             <th *ngFor="let col of getColumnToDisplay(fullPath + '/' + group)">
               {{ getColumnDisplayName(col) }}
             </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let row of data[group]">
             <td *ngFor="let col of getColumnToDisplay(fullPath + '/' + group)">
               {{ row[col] }}
             </td>
           </tr>
         </tbody>
       </table>
     </div>
   </ng-template>
 </div>
</ng-template>



<ng-template #tableData let-group="group" let-row="row" let-rowIndex="rowIndex">

<ng-container *ngIf="updateMaxRowIndex(rowIndex)"></ng-container>
<ng-container *ngIf="asignIndex(row, rowIndex)"></ng-container>
  <ng-container *ngIf="table==='table1'">

  <td *ngIf="row.groupsrightdisplaybutton==='1'"
    [attr.rowspan]="countRowsInGroup(row, row.groups)"
    style="vertical-align: middle; text-align: center;"
  >
    <div style="display: flex; flex-direction: column; align-items: center; gap: 12px;">
      <div 
        [ngStyle]="row['ElementRelease.availablequantity'] != row['CantidadParaElPozos_original'] ? 
                  {'pointer-events': 'none', 'opacity': '0.5'} : {}">
        <app-button-red 
          (click)="trueFalseSetterGroup(row, null)"
          label="<<">
        </app-button-red>
      </div>
    </div>
</td>

    <td *ngFor="let col of getColumnToDisplay(group); let colIndex = index" [ngClass]="getColumnClass(col)" [ngStyle]="getColumnStyle(col)">
     <ng-container *ngFor="let element of getColumnRender(col)">
       <ng-container [ngSwitch]="element.type">
               
               <ng-container *ngSwitchCase="'text'">
                 <ng-container *ngIf="col==='documentos'">
                     <ng-container *ngFor="let file of getItemsByGroupId(row['groupid'])">
                      <p  (click)="executeFunction(file, col, element)">
                          {{ file['documentos'] }}
                      </p>
                     </ng-container>

                 </ng-container>
                 <ng-container *ngIf="col !== 'documentos'">

                   <span *ngIf="element.position === 'right' && element.value !== undefined" (click)="executeFunction(row, col, element)">{{ row[element.value] }}{{element.label}}</span>
                   <span *ngIf="element.position === 'left' && element.value !== undefined" (click)="executeFunction(row, col, element)">{{element.label}}{{ row[element.value] }}</span>
                   

                  </ng-container>

               </ng-container>

               <ng-container *ngSwitchCase="'app-button'">
                 <app-button [isHover]=true [isPrimary]=false [label]="element.label || ''" (click)="executeFunction(row, col, element, row.groupid)"></app-button>
               </ng-container>
               <br/>
               <ng-container *ngSwitchCase="'app-button-red'">
                 <app-button-red 
                  [label]="element.label || ''" 
                  (click)="getrowQuantity(row) === 0 ? executeFunction(row, col, element) : null"
                  [ngClass]="{'disabled-button': getrowQuantity(row) > 0}"
                  [style.pointer-events]="getrowQuantity(row) > 0 ? 'none' : 'auto'"
                  [style.opacity]="getrowQuantity(row) > 0 ? '0.5' : '1'">
                </app-button-red>
              </ng-container>
              
              

               <ng-container *ngSwitchCase="'radio'">
                 <ng-container *ngFor="let label of getColumnLabel(col)?.split('/') || [col]">
                   <label>
                     <input type="radio" [name]="'radio-' + group + '-' + rowIndex + '-' + colIndex" /> {{ label }}
                   </label>
                 </ng-container>
               </ng-container>

               <ng-container *ngSwitchCase="'input'">
                 <ng-container *ngFor="let label of getColumnLabel(col)?.split('/') || [col]">
                   <label *ngIf="element.position === 'left' && element.value !== undefined">
                     <!--<input [ngStyle]="{ width: element.width }" type="number" [value] ="row[element.value] || '0'" (change)="executeFunction(row, col, element)"/>-->
                       <input  
                        [ngStyle]="{ width: element.width }" 
                        type="number" 
                        min="0" 
                        [max]="row['ElementRelease.availablequantity']"   
                        (change)="executeFunction(row, col, element)"
                        [(ngModel)]="inputBindings[row.groupid]" 
                        (ngModelChange)="onValidateMax($event, row)" 
                          />
                    </label>  
                 </ng-container>

                
                 
               
                </ng-container>
        
       </ng-container>
     </ng-container>
   </td>



</ng-container>


 <ng-container *ngIf="table==='table1'">
    <td *ngIf="row.groupsrightdisplaybutton==='1'"
    [attr.rowspan]="countRowsInGroup(row, row.group)"
    style="vertical-align: middle; text-align: center;">
        <div style="display: inline; flex-direction: column; align-items: center; gap: 12px;">
                <input  
                type="number" 
                min="0" 
                [max]="row['ElementRelease.availablequantity']"   
                [(ngModel)]="inputBindings[row.groupid]" 
                (ngModelChange)="onValidateMax($event, row)" 
                  /> /{{row['ElementRelease.availablequantity']}}
           

            <app-button (click)="transferRowgroup(row,'ElementTally.quantity','ElementRelease.availablequantity', 'groupid')" label=">>"></app-button>
        </div>
    </td>
</ng-container>


</ng-template>

