<div class="container-approved">
  <header-release [itemsSteps]="itemsSteps" [title]="title" />
  <div class="row filter-information">
    <div class="column column-1">
      <search-by-text
        [originalItems]="this.approvedInformation"
        (itemsChange)="updateItemsChange($event)"
      />
    </div>
    <div class="column column-2">
      <search-by-date
        [originalItems]="approvedInformation"
        (itemsChange)="updateItemsChange($event)"
      />
    </div>
    <mat-slide-toggle
      class="slide-filter"
      (change)="filterByOperationState($event.checked)">
      Activos
    </mat-slide-toggle>
  <show-active-items
    [filteredItems]="approvedInformationFiltered"
    [urlRedirect]="urlRedirect"
  />
  </div>
  
</div>
