::ng-deep .mat-select-panel {
  max-width: 400px !important; // Aumenta el ancho del panel si los textos son largos
}

::ng-deep .mat-option {
  white-space: normal !important; // Permite saltos de línea
  line-height: 1.4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  word-wrap: break-word;
}
