<app-generic-request-page #genericRequestPage
  [title]="'Solicitud de activación'"
  [message]="'Razones por las cuales desea activar el elemento
  Existen errores en las arenas ingresadas, es necesaria realizar la corrección para la finalización contractual del documento
  Usuario que lo solicito:\n
  Segmento:
  '"
  [checkboxText]="'Confirmo que revisé los motivos ingresados y mi decisión es definitiva '"
  [confirmButtonText]="'Aceptar solicitud'"
  [cancelButtonText]="'Cancelar'"
  
></app-generic-request-page>


<div class="content">
  <div class="container-active">
    <div class="row filter-information">
      <div class="column column-1">
        <div class="search">
          <slb-search
            [searchPlaceholder]="'Buscar Pozos'"
            [showAutocomplete]="true"
            [searchItems]="searchingItems"
            (change)="onSearchChange($event)"
            (searching)="onSearch($event)"
            (cleared)="onSearchClear($event)"
          ></slb-search>
        </div>
      </div>
      <div class="column column-2">
        <div class="calendar-picker">
          <slb-date-picker-range
            class="calendar"
            [placeholder]="'Seleccionar una fecha'"
            [calendarStartAt]="actualCalendarDate"
            [minValue]="minCalendarDate"
            [maxValue]="maxCalendarDate"
            (rangeSelected)="onDateSelected($event)"
            [disableTextInput]="true"
            [closeCalendarOnRangeSelected]="true"
            [dateControl]="dateRange"
            #datepicker
          ></slb-date-picker-range>
        </div>

        <div class="clear-date">
          <button
            slb-button
            [title]="'Limpiar calendario'"
            (click)="onClearDate()"
          >
            <mat-icon class="clear-button" svgIcon="clear"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row pipes-information">
      <div
        *ngFor="let element of pipeInformationFiltered"
        class="card-iterator"
      >
      
        <div class="card-item">
          <app-custom-card
            title="{{ element.viewText }}"
            [date]="element.lastDate"
            [activity]="element.activity"
            [status]="element.status"
            [dateStartActivity]="element.engJoblogStartDate"
            [dateEndActivity]="element.engJoblogEndDate"
            class="card"
          >
          <app-button
              label="REVISAR SOLICITUD"
              (click)="genericRequestPage.openOverlay()"
            >
            </app-button>
            
            
          </app-custom-card>
        </div>
      </div>
    </div>
  </div>
</div>
