@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: map-get($colors, shayaBlue); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  
}

.generic-request-page {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: map-get($colors, shayaBlue);
  border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 40px;
    right: 30px;
    background-color: #a33a36; 
    color: white; 
    border: none;
    border-radius: 50%; 
    width: 40px;
    height: 40px; 
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.close-button:hover {
  color: #ff0000;
}

h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

p {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.4; 
}

textarea {
  width: 60%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none; 
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.cancel-button {
  background-color: #ccc;
  border: none;
  color: white;
  margin: 5px;
}

.confirm-button {
  background-color: #4caf50;
  border: none;
  color: white;
  margin: 5px;
}

.disabled-wrapper {
  pointer-events: none;
  opacity: 0.5;
}