<app-custom-shaya-header [headerTitle]="'Documentos de soporte'"> </app-custom-shaya-header>
<!-- TODO: Aqui va el boton de subir archivos -->
<shared-single-document-upload 
  [itemList]="dataTransformed"
  (uploadCompleted)="handleSingleFileUpload($event)"> 
</shared-single-document-upload>
<app-load-rar-files
  class="global-zip-upload"
  [label]="'Subir un archivo .zip y asignar los archivos que contenga a varios elementos.'"
  [extension]="'application/zip,application/x-zip-compressed'"
  [elementList]="dataTransformed"
  [isSharedZipFile]="true"
  (dialogEvent)="getFilesFromZipByUser($event)"
  [serialsMap]="serialsMap"
  [inspectionOitsMap]="inspectionOitsMap"
  [repairOitsMap]="repairOitsMap"
>
</app-load-rar-files>
<div class="container support-documents-header" #informationHeader>
  <div class="column title-column-1">
    <p>Descripción</p>
  </div>
  <div class="column title-column-2">
    <p>Cantidad</p>
  </div>
  <div class="column title-column-4">
    <p>Colada</p>
  </div>
  <div class="column title-column-5">
    <p>Serial</p>
  </div>
  <div class="column title-column-3">
    <p>Documentos de soporte</p>
  </div>
</div>
<div class="support-documents-container">
  <div
    class="documents-row"
    *ngFor="let item of dataTransformed; let i = index; trackBy: trackById"
  >
    <div class="documents-column column-50">
      <div class="description-info">
        <shared-well-description
          [oitInspection]="item.oitInspection"
          [oitReparation]="item.oitReparation"
          [name]="item.pecDescription"
          [condition]="item.condition"
          [elementID]="item.id"
          [serial]="item.serial"
          [partNumber]="item.partNumber"
        >
        </shared-well-description>
        <app-load-rar-files
          [label]="'Mapear documentos a partir de archivos .zip'"
          [extension]="'application/zip,application/x-zip-compressed'"
          [item]="item"
          [itemIndex]="i"
          (dialogEvent)="getFilesFromZipByUser($event)"
        >
        </app-load-rar-files>
      </div>
    </div>
    <div class="documents-column column-20">
      <p>{{ item.quantity || "No posee información"}}</p>
    </div>
    <div class="documents-column column-40">
      <p>{{ item.heat || "No posee información" }}</p>
    </div>
    <div class="documents-column column-60">
      <p>{{ item.serial || "No posee información" }}</p>
    </div>
    <div class="documents-column column-30">
      <div class="support-description">
        <shared-support-document-list
          [elementList]="item"
          [idElementRelease]="item.id"
          [callback]="callback"
          (fileChange)="handleFileChange($event)"
          [filesSelectedByUser]="filesFromZip"
          [newlyAddedFiles]="newlyAddedFiles">
        </shared-support-document-list>
      </div>
    </div>
  </div>
</div>

<div class="container onSummarButton">
  <div class="column">
    <app-button (click)="goOnSummary()" label="Pasar a confirmación"></app-button>
  </div>
</div>
