<div
  class="filesSigns"
  *ngIf="hasSignData && file.type === 'application/pdf' && hasAtLeatOneSign()"
>
  <div class="is-valid-sign-container">
    <app-signs-popover
      [slbPopoverTrigger]="'click'"
      [hideArrow]="true"
      [slbPopoverCloseOnClick]="true"
      [slbPopoverCloseOnEscape]="true"
      [slbPopoverDisabled]="false"
      [useTargetElement]="false"
      [slbPopoverBackdropClass]="'cdk-overlay-dark-backdrop'"
      [slbPopoverHasBackdrop]="true"
      [hasSigns]="hasSignData"
      [invalidSigns]="checkInvalidSigns()"
      (click)="$event.stopPropagation()"
    >
      <app-show-valid-signs
        [unzipSigns]="signData.signs"
        [annots]="signData.annots"
        *ngIf="signData.signs.length > 0"
      >
      </app-show-valid-signs>
    </app-signs-popover>
  </div>
</div>

<div
  *ngIf="!hasSignData && file.type === 'application/pdf' && !loading"
  class="loading"
  matTooltip="Detalle de las firmas electrónicas del documento"
>
  <p>Sin firmas electrónicas</p>
</div>

<div *ngIf="loading">
  <p>Cargando...</p>
</div>
