<div class="content">
  <div class="container-pending">
    <div class="row filter-information">
      <div class="column column-1">
        <div class="search">
          <slb-search
            [searchPlaceholder]="'Buscar en pendientes'"
            [showAutocomplete]="true"
            [searchItems]="searchingItems"
            (change)="onSearchChange($event)"
            (searching)="onSearch($event)"
            (cleared)="onSearchClear($event)"
          ></slb-search>
        </div>
      </div>
      <div class="column column-2">
        <div class="calendar-picker">
          <slb-date-picker-range
            class="calendar"
            [placeholder]="'Seleccionar una fecha'"
            [disableTextInput]="true"
            [closeCalendarOnRangeSelected]="true"
            [calendarStartAt]="actualCalendarDate"
            [minValue]="minCalendarDate"
            [maxValue]="maxCalendarDate"
            (rangeSelected)="onDateSelected($event)"
            [dateControl]="dateRange"
            #datepicker
          ></slb-date-picker-range>
        </div>
        <div class="clear-date">
          <button
            slb-button
            [title]="'Limpiar calendario'"
            (click)="onClearDate()"
          >
            <mat-icon class="clear-button" svgIcon="clear"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row pending-information">
      <div
        *ngFor="let pending of pendingInformationFiltered"
        class="card-iterator"
      >
        <div class="card-item">
          <app-pending-card
            [title]="pending.viewText"
            [madeBy]="pending.madeBy"
            [sendDate]="pending.dateSent.toString()"
            [businessLine]="pending.other"
          >
            <app-button
              label="Revisar"
              (click)="toggleButton(pending.value, pending.viewText)"
            >
            </app-button>
          </app-pending-card>
        </div>
      </div>
    </div>
  </div>
</div>

