<div class="search-list-container">
  <div class="search-wrapper">

    <!-- Agrupar buscador y botón en una misma fila -->
    <div class="search-bar-row">
      <search-bar
        [selectedGroup]="!!selectedGroup"
        (searchTermChanged)="onSearchTermChanged($event)"
        (searchIconClick)="handleSearchIconClick()"
      ></search-bar>

      <app-button
        label="Agregar Elemento"
        (click)="openAddElement()"
      ></app-button>
    </div>


    <!-- Modal para agregar un elemento -->
    <div *ngIf="showModal" class="modal-overlay">
      <div class="modal-content">
        <button class="close-button" (click)="closeAddElement()">×</button>
        <add-element-component
          [initialElementName]="currentSearchTerm" (elementAdded)="closeAddElement(); onAtributoAgregado()" ></add-element-component>
      </div>
    </div>

    <!-- Lista de resultados -->
    <div class="results-list" *ngIf="groupedStandardElements.length > 0 && !selectedGroup">
      <div
        class="result-item"
        *ngFor="let elementGroup of groupedStandardElements"
        (click)="selectElement(elementGroup)"
      >
        <span *ngIf="elementGroup.elementos.length > 0">
          {{
            businessLineMap[elementGroup.elementos[0].idStandardBusinessLines] || 'Línea desconocida'
          }}
        </span>
        - 
        {{ elementGroup.name }}
        
        <ng-container *ngIf="getSynonymsPreview(elementGroup) as synonymsPreview">
          <span *ngIf="synonymsPreview" class="synonym-preview">
            ( {{ synonymsPreview }} )
          </span>
        </ng-container>
        </div>
    </div>

    <p *ngIf="groupedStandardElements.length === 0 && currentSearchTerm && !selectedGroup">
      No se encontraron resultados.
    </p>
  </div>

  <!-- Panel de atributos -->
  <div class="attributes-container" *ngIf="selectedGroup">
  <app-element-attributes
    [elementGroup]="selectedGroup"
    [idStandardElement]="idStandardElement"
    [idBusinessLineUser]="userIdBusinessLine"
    [idUser]="userId"
    (updateElements)="onAtributoAgregado()" ></app-element-attributes>
</div>

  <!-- Sección de extensión de documentos -->
  <br />
  <div *ngIf="selectedGroup" class="container-document">
    <mat-card class="element-card-extension">
      <mat-card-content>
        <div class="icons">
          <mat-icon svgIcon="new-doc"></mat-icon>
        </div>
        <p>Extensión de documentos</p>
        <mat-card-actions>
          <shared-error-processing-new-extension-documents
            [selectedElementValue]="selectedElementValue"
            [idUser]="userId"
            [idBusinessLineUser]="userIdBusinessLine"
          ></shared-error-processing-new-extension-documents>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
