@import "src/app/pages/field/field.component.scss";

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  
  .button-container {
    padding: 1%;
    width: 100%; 
    display: flex;
    justify-content: center; 
    gap: 12px;
  }


  .upload-container {
    position: relative;
    width: 400px; 
    height: 200px;
    border: 2px dashed #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #a33a36; 
  color: white; 
  border: none;
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
color: #ff0000;
}
