<app-generic-request-page #genericRequestPage
  [title]="'Rechazar RUN BES'"
  [message]="'Por favor, proporciona más información para rechazar el RUN BES. Tu retroalimentación es importante para corregir los problemas encontrados.
  Ingresa las observaciones por las que rechazas la información'"
  [confirmButtonText]="'Rechazar RUN BES'"
  [cancelButtonText]="'Cancelar'"

>
</app-generic-request-page>
<app-custom-shaya-header-icon headerIcon="document" headerTitle="Documentos generados">
</app-custom-shaya-header-icon>
<div class="buttons-wrapper">
  <div class="button-container">
    <app-button (click)="showFile()" label="Visualizar Sumario"></app-button>
  </div>  
  <div class="button-container">
    <app-button label="Visualizar Diagrama mecánico"></app-button>
  </div>
  <div class="button-container">
    <app-button  (click)="showFile('Tally')" label="Visualizar Tally"></app-button>
  </div>
  <div class="button-container">
    <app-button (click)="showFile('DH')" label="Visualizar DH"></app-button>
  </div> 
</div>
<app-custom-shaya-header-icon headerIcon="document" headerTitle="RUNBES enviado por ALS">
</app-custom-shaya-header-icon>
<div class="buttons-wrapper">
  <div class="button-container">
    <app-button label="Visualizar RUN BES"></app-button>
  </div>
  <div class="button-container">
    <app-button-red
              label="Rechazar RUN BES"
              (click)="genericRequestPage.openOverlay()"
            >
    </app-button-red>
  </div>

  <div class="button-container">
    <label>Si se encuentra correcto el RUN BES firmalo y agregalo a la plataforma</label>
  </div>
  <div class="upload-container">
  <div class="upload-icon">&#8682;</div>
  <div class="close-button">&#10006;</div>
</div>
</div>

