@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);
/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

.mat-step-icon {
  &.mat-step-icon-state-done {
    background-color: map-get($colors, shayaSecond) !important;
    color: white !important;
  }
  &.mat-step-icon-state-edit {
    background-color: map-get($colors, shayaSecond) !important;
    color: white !important;
  }
  &.mat-step-icon-state-number {
    background-color: map-get($colors, shayaSecond) !important;
    color: white !important;
    &.mat-step-icon-selected {
      background-color: map-get($colors, shayaRed) !important;
      color: white !important;
    }
  }
}
.mat-step-icon .mat-icon {
  display: contents !important;
}
.content {
  .stepper-container {
    .mat-stepper-horizontal {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          padding: 0 20% 0 20% !important;
        }
        .mat-horizontal-content-container {
          padding: 0px !important;
        }
      }
    }
  }
}
