.hasValidSigns {
  button {
    border-radius: 10px !important;
  }
}

span.dls-button-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 5px;
  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    display: inline-block;
    width: auto;
    height: auto;
    overflow: visible;
  }
}
