
<app-custom-shaya-header-icon
  headerIcon="add"
  headerTitle="Agregar elementos que dispones en tu stock al pozo">
</app-custom-shaya-header-icon>


<div class="container-active">
  <div class="elements-container">
    <app-custom-shaya-header-greenSheen headerTitle="Elementos disponibles">
    </app-custom-shaya-header-greenSheen>
    <div class="field-search-button">
    <div class="search">
      <slb-search
          [searchPlaceholder]="''"
          [showAutocomplete]="true"
          [searchItems]="searchingItems"
          (change)="onSearchChangeTable1($event)"
          (searching)="onSearch($event)"
          (cleared)="onSearchClearTable1($event)"
        ></slb-search>
    </div>
    </div>
    <app-dynamic-table_03
      [searchingItems]="searchingItems"
      [groupedData]="groupedData"
      [updatedFields]="updatedFields"
      [table]="'table1'"
      [columnConfig]="columnConfig['table1']"
      [searchTerm]="searchTermTable1"
      (rowUpdated)="onRowUpdated($event)"
      (parentAction)="handleAction($event)"
      [index]="index"
      >
    </app-dynamic-table_03>
  <!--<app-dynamic-table_03
      [searchingItems]="searchingItems"
      [groupedData]="groupedData"
      [updatedFields]="updatedFields"
      (updatedFieldsChange)="onUpdatedFieldsChange($event)"
      [columnConfig]="columnConfig['table1']"
      [searchTerm]="searchTermTable1"
      (rowUpdated)="onRowUpdated($event)">

    </app-dynamic-table_03>-->
  </div>
  <div class="elements-container">
    <app-custom-shaya-header-greenSheen headerTitle="Elementos que se encuentran en pozo">
    </app-custom-shaya-header-greenSheen>
    <div class="field-search-button">
      <div class="search">
      <slb-search
          [searchPlaceholder]="''"
          [showAutocomplete]="true"
          [searchItems]="searchingItems"
          (change)="onSearchChangeTable2($event)"
          (searching)="onSearch($event)"
          (cleared)="onSearchClearTable2($event)"
        ></slb-search>
    </div>
    </div>

    <!-- Verificación de datos vacíos -->
    <div *ngIf="isGroupedDataEmpty()" class="no-elements-message">
      Actualmente no tienes elementos agregados al pozo
    </div>
    <div *ngIf="!isGroupedDataEmpty()" class="no-elements-message">
      <app-dynamic-table_03_r
      [searchingItems]="searchingItems"
      [groupedData]="groupedData"
      [updatedFields]="updatedFields"
      [table]="'table2'"
      [columnConfig]="columnConfig['table2']"
      [searchTerm]="searchTermTable2"
      (rowUpdated)="onRowUpdated($event)"
      (parentAction)="handleAction($event)"
      (index)="passIndex($event)"
      >
    </app-dynamic-table_03_r>



    <!--
     <app-dynamic-table_03
      [searchingItems]="searchingItems"
      [groupedData]="groupedData"
      [updatedFields]="updatedFields"
      (updatedFieldsChange)="onUpdatedFieldsChange($event)"
      [columnConfig]="columnConfig['table2']"
      [searchTerm]="searchTermTable2"
      (rowUpdated)="onRowUpdated($event)"
      >
    </app-dynamic-table_03>
    -->
    </div>
    
  </div>
</div>
