
<app-generic-request-page #genericRequestPage
  [title]="'Solicitar activación'"
  [message]="'El siguiente elemento se encuentra en estado Terminado, puedes solicitar la activación de edición a los administradores.'"
  [confirmButtonText]="'Solicitar activación para edición'"
  [cancelButtonText]="'Cancelar'"
  
></app-generic-request-page>



<app-button
              label="Activación"
              (click)="toggleButton(1, 'Activacion', 'app-field-activation-request')"
            >
            </app-button>

<div class="content">
  <div class="container-active">
    <div class="row filter-information">
      <div class="column column-1">
        <div class="search">
          <slb-search
            [searchPlaceholder]="'Buscar pozos'"
            [showAutocomplete]="true"
            [searchItems]="searchingItems"
            (change)="onSearchChange($event)"
            (searching)="onSearch($event)"
            (cleared)="onSearchClear($event)"
          ></slb-search>
        </div>
      </div>
      <div class="column column-2">
        <div class="calendar-picker">
          <slb-date-picker-range
            class="calendar"
            [placeholder]="'Seleccionar una fecha'"
            [calendarStartAt]="actualCalendarDate"
            [minValue]="minCalendarDate"
            [maxValue]="maxCalendarDate"
            (rangeSelected)="onDateSelected($event)"
            [disableTextInput]="true"
            [closeCalendarOnRangeSelected]="true"
            [dateControl]="dateRange"
            #datepicker
          ></slb-date-picker-range>
        </div>

        <div class="clear-date">
          <button
            slb-button
            [title]="'Limpiar calendario'"
            (click)="onClearDate()"
          >
            <mat-icon class="clear-button" svgIcon="clear"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row pipes-information">
      <div
        *ngFor="let element of pipeInformationFiltered"
        class="card-iterator"
      >
        <div class="card-item">
          <app-custom-card
            title="{{ element.viewText }}"
            [date]="element.lastDate"
            [activity]="element.activity"
            [status]="element.status"
            [dateStartActivity]="element.engJoblogStartDate"
            [dateEndActivity]="element.engJoblogEndDate"
            class="card"
          >
          <app-button
              label="RUN BES"
              (click)="toggleButton(element.value, element.viewText, 'app-field')"
            >
            </app-button>
            <app-button
              label="SUMARIO"
              (click)="toggleButton(element.value, element.viewText, 'app-field')"
            >
            </app-button>
            <app-button-red
              label="SOLICITAR ACTIVACIÓN"
              (click)="genericRequestPage.openOverlay()"
            >
            </app-button-red>
            <!-- <app-button [isPrimary]="false" label="RUN BES"></app-button> -->
          </app-custom-card>
        </div>
      </div>
    </div>
  </div>
</div>

