.dropAllFiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  box-shadow: none;
  color: #7c2020;
  padding: 0px;
  p {
    font-size: 11px !important;
  }
  .containerIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 18px;
    height: 26px;
    border-radius: 30px;
    border: none;
    mat-icon {
      display: flex;
      height: auto;
      width: auto;
      margin: 0px !important;
      padding: 0px !important;
      font-size: 20px;
      color: #7c2020;
    }
  }
  &:hover {
    box-shadow: none !important;
  }
}
