<div class="row approved-information">
  <div #noDataLabel style="display: none; text-align: center; width: 100%">
    <p>No existe información de momento</p>
  </div>
  <div #errorDataLabel style="display: none; text-align: center; width: 100%">
    <p>Hubo un error al obtener los datos, intenta de nuevo</p>
  </div>
  <div *ngFor="let item of filteredItems" class="card-iterator">
    <!-- <div>Hola</div> -->
    <div class="card-item">
      <shared-oil-field-operation-dynamic-card
        [idBusinessLine]="item.idBusinessLine"
        [title]="item.wellName + ' | ' + item.operationCode + ' ' + item.operationNumber"
        [idOilfieldOperations]="item.idOilfieldOperations"
        [idRelease]="item.idRelease"
        [subtitle]="item.wellShortName + ' | ' + item.rigName"
        [nameWell]="item.wellName + ' | ' + item.operationCode + ' ' + item.operationNumber"
        [cardConfig]="[
          {
            title: 'Segmento que envío la aprobación:',
            valueKey: 'businessLineName',
          },
          {
            title: 'Fecha actualización:',
            valueKey: 'dateSent',
            pipe: 'dateCustomFormat',
          },
          {
            title: 'Usuario del segmento que aprobó:',
            valueKey: 'updatedBy',
          },
          { title: 'ID del despacho:', valueKey: 'idRelease' },
        ]"
        [dataConfig]="item"
        [urlRedirect]="urlRedirect"
        [idReleaseState]="idReleaseState"
        [total_reviews]="item.total_reviews"
      />
    </div>
  </div>
</div>
