###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

#The identifier of the organization. This can be found on the Integrate page of the Mend User Interface under the Organization section. Requires admin level access to see this page.
apiKey=8f83e65113c944e6aa4dd15b0a78474f1ff06b0a401343a6b1043a1d7de636d4

#The Server URL with /agent added. This can also be found on the Integrate page of the Mend User Interface under the Organization section. Requires admin level access to see this page. - Se agrega el agent al final
wss.url=https://app-eu.whitesourcesoftware.com/agent

#En la seccion de profile
userKey=ca788497af8d4837b116fb29d60500c75545ed82c1b44f4d84b863986be63e1c

#En la seccion de productos
productName=DHS (Documento Habilitante Smart)-EAR-AA-26200
productVersion=0.1
productToken=0a0f8c9d183a4a6c8e44a76de3a62049918851ce08cc433db8f9f9857dc7e6c2
projectName=DHS (Documento Habilitante Smart)-EAR-AA-26200 - Backend Python

######################
# Alcance del escaneo
######################
dirs=.

includes=**/*.py,**/requirements.txt,**/Pipfile,**/pyproject.toml,**/poetry.lock
excludes=**/.git/**,**/.idea/**,**/.vscode/**,**/__pycache__/**,**/.venv/**,**/venv/**,**/.mend/**,**/tests/**,**/dist/**,**/build/**

########################################
# Resolución de dependencias (Python)
########################################
resolveAllDependencies=true
python.resolveDependencies=true
python.requirementsFile=requirements.txt
python.installVirtualEnv=true
python.ignorePipInstallErrors=false
# Si en algún momento usas Poetry o Pipenv:
# python.resolvePoetryDependencies=true
# python.resolvePipenvDependencies=true

########################################
# Inventario / políticas / reportes
########################################
updateInventory=true
checkPolicies=true
forceScan=true
forceCheckAllDependencies=true
forceUpdate=true

generateProjectDetailsJson=true
generateScanReport=true
scanReportTimeoutMinutes=20
reports.dir=whitesource-reports

############
# Rendimiento
############
fileSystemScanner=true
caseSensitiveGlob=false
archiveExtractionDepth=4
maxScanDepth=8

#########
# Logging
#########
logLevel=info
logFilesPath=logs
logFilesSizeLimit=50

########
# Proxy
########
# proxy.host=
# proxy.port=
# proxy.user=
# proxy.password=

########
# Otros
########
offline=false
wss.connectionRetries=3
wss.connectionRetriesDelay=3