<div class="file-information">
  Seleccionar documento PDF:
  <slb-dropzone
    #dropzone
    [dropzoneTemplate]="dropzoneTmpl"
    [accept]="pdfExtension"
    [multiple]="false"
    (onFilesChange)="onPDFSelected($event)"
    [canRemoveAttachment]="true"
    [dropzoneText]="'Seleccione el archivo a firmar'"
    [showAttachedFiles]="true"
  >
    <ng-template #dropzoneTmpl>
      <span *ngIf="fileToSign === undefined"
        >Seleccione el archivo a firmar</span
      >
      <div class="containerUploadButton">
        <div class="columnUploadButtonFlexible">
          <div class="files">
            <div class="containerNameFile" *ngIf="fileToSign">
              <span>{{ fileToSign.name }} </span>
              <!-- <mat-icon
                svgIcon="preview"
                (click)="
                  showPreview(fileToSign, $event); $event.stopPropagation()
                "
              ></mat-icon> -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </slb-dropzone>
</div>
<app-button
  [label]="'Firmar Documento con FPT2P'"
  [isPrimary]="true"
  (click)="openDialog()"
  #signDocument
  *ngIf="fileToSign !== undefined"
></app-button>
