@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.secondary-button {
  color: #22263d !important;
}

.secondary-button-hover {
  background-color:#a4cb40 !important;
  color: #3d5c7f !important;
}

.secondary-button-hover:hover {
  background-color: #000B9E !important;
  color: #ffff !important;
}
