<button
  *ngIf="isPrimary && !isError && !isHover"
  slb-button
  type="button"
  size="{{ size }}"
  color="{{ color }}"
  [disabled]="disable"
>
  <ng-content></ng-content>
  {{ label }}
</button>

<button
  *ngIf="!isPrimary! && !isError && !isHover"
  class="secondary-button"
  slb-secondary-button
  type="button"
  size="{{ size }}"
  [disabled]="disable"
>
  <ng-content></ng-content>
  {{ label }}
</button>

<button
  *ngIf="isHover && !isError && !isPrimary"
  class="secondary-button-hover"
  slb-secondary-button
  type="button"
  size="{{ size }}"
  [disabled]="disable"
>
  <ng-content></ng-content>
  {{ label }}
</button>

<button
  *ngIf="isError"
  type="button"
  [ngStyle]="errorStylesAttr"
  slb-button
  [disabled]="disable"
>
  <ng-content></ng-content>
  {{ label }}
</button>
