<mat-form-field appearance="outline" style="width: 100%;">
  <mat-select
    id="condition-dropdown"
    [(value)]="selectedShowStandardAttributeTypesSections"
    hideSingleSelectionIndicator="true"
    placeholder="Seleccione un Tipo de Atributo"
    (selectionChange)="conditionSelected($event.value)"
  >
    <mat-option *ngFor="let condition of idShowStandardAttributeTypesList" [value]="condition.id">
      {{ condition.type }}
    </mat-option>
  </mat-select>
</mat-form-field>
