@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.app-sidenav {
  width: 40px;
}
html
  .mat-mdc-progress-spinner.mat-primary
  .mdc-circular-progress__determinate-circle,
html
  .mat-mdc-progress-spinner.mat-primary
  .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: map-get($colors, shayaBlue) !important;
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid map-get($colors, shayaSecond) !important;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  & mat-spinner {
    width: 100px;
    height: 100px;
  }

  .containerOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
}

slb-navigation-framework {
  @media (max-width: 470px) {
    slb-framework-toolbar {
      margin-right: 6px !important;
      padding-left: 3px !important;
      slb-logout.dls-logout {
        margin-left: 5px !important;
      }
    }
    .mat-sidenav {
      width: 70% !important;
    }
    .filter-information {
      display: flex !important;
      flex-direction: column !important;
    }
    .filter-information .column-1,
    .filter-information .column-2,
    .calendar {
      width: 100% !important;
    }
    .filter-information .column-2 {
      display: flex !important;
      flex-direction: row !important;
      align-items: stretch !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    .calendar, .column-1 {
      margin: 0 !important;
      padding: 0 !important;
    }

    .filter-information .calendar-picker {
      flex: 1;
      width: auto;
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      align-items: center;
    }

    .filter-information .clear-date {
      flex-shrink: 0;
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 600px) {
    .dls-navigation-framework-content {
      margin-top: 0px !important;
    }
  }
  @media (max-width: 660px) {
    .mat-step-text-label {
      font-size: 14px;
    }

    .mat-horizontal-stepper-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex: 1 1 auto;
      min-width: 90px;
      margin: 0;
      padding: 3px;
    }

    .mat-horizontal-stepper-header .mat-step-label {
      order: 1;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: block;
      text-align: center;
    }

    .mat-horizontal-stepper-header .mat-step-icon {
      order: 2;
    }
  }

  mat-sidenav-container {
    mat-sidenav {
      div {
        .dls-slb-logo {
          display: flex !important;
          align-self: center;
          img {
            box-sizing: border-box;
            display: block !important;
            height: 0 !important;
            padding: 0 0 72px 0;
            background: url(/assets/logoShaya.png) !important;
            background-size: 55px !important;
            background-repeat: no-repeat !important;
          }
        }
        .dls-application-footer {
          display: none;
        }
      }
    }

    mat-sidenav-content {
      .dls-framework-canvas {
        .dls-page-header-container {
          slb-framework-page-header {
            .dls-page-header-row {
              .dls-page-title {
                span {
                  margin-right: 40px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
