<div class="uploadDrop" *ngIf="!editDisabled">
  <div class="uploadDropColumnFlexible">
    <slb-dropzone
      #dropzone
      [dropzoneTemplate]="dropzoneTmpl"
      [multiple]="false"
      [accept]="extension"
      (onFilesChange)="onFilesChange($event)"
      [canRemoveAttachment]="true"
      [showAttachedFiles]="true"
    >
      <ng-template #dropzoneTmpl>
        <div class="containerUploadButton">
          <div class="columnUploadButtonStatic">
            <button mat-fab class="uploadButton" type="button" (click)="({})">
              <mat-icon svgIcon="cloud-upload"></mat-icon>
            </button>
          </div>

          <div class="columnUploadButtonFlexible">
            <p class="title">{{ label }}</p>
            <div class="files">
              <div class="containerNameFile" *ngFor="let file of files">
                <span (click)="downloadFile(file)">{{ file.name }} </span>
                <mat-icon
                  *ngIf="file.type === 'application/x-zip-compressed'"
                  svgIcon="download"
                  (click)="downloadFile(file); $event.stopPropagation()"
                ></mat-icon>
                <div
                  class="progress"
                  *ngIf="progress[file.name].progress > 0 && !progress[file.name].completed"
                >
                  <label for="progress-{{ file.name }}"
                    >Progreso de Subida: {{ progress[file.name].progress }}%</label
                  >
                  <progress
                    id="progress-{{ file.name }}"
                    [value]="progress[file.name].progress"
                    max="100"
                  >
                    {{ progress[file.name].progress }}%
                  </progress>
                </div>
                <mat-icon
                  *ngIf="progress[file.name].completed"
                  svgIcon="check"
                  class="completed-icon"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </slb-dropzone>
  </div>
</div>

<div class="uploadDrop" *ngIf="editDisabled">
  <div class="uploadDropColumnFlexible">
    <div class="containerUploadButton">
      <div class="columnUploadButtonStatic"></div>

      <div class="columnUploadButtonFlexible">
        <p class="title">{{ label }}</p>
        <div class="files">
          <div class="containerNameFile" *ngFor="let file of files">
            <span (click)="downloadFile(file)">{{ file.name }} </span>
            <mat-icon
              *ngIf="file.type === 'application/x-zip-compressed'"
              svgIcon="download"
              (click)="downloadFile(file); $event.stopPropagation()"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
