<items-of-release
  [idReleaseState]="1"
  [idBusinessLine]="user.idBusinessLine"
  [itemsSteps]="
    user.idBusinessLine === 1
      ? [
          {
            icon: 'block',
            text: 'Aprobado por el segmento',
            correct: false,
          },
          { icon: 'block', text: 'Enviado a Campo', correct: false },
        ]
      : [
          {
            icon: 'block',
            text: 'Aprobado por el segmento',
            correct: false,
          },
          { icon: 'block', text: 'Aprobado por QAQC', correct: false },
          { icon: 'block', text: 'Aprobado por PEC', correct: false },
          { icon: 'block', text: 'Enviado a Campo', correct: false },
        ]
  "
  [title]="'En borrador - En revisión Segmento'"
  [urlRedirect]="urlRedirect"
/>
