@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

.approved-information {
    display: flex;
    gap: 20px;
    margin: 10px 40px 0 40px;
    justify-content: flex-start;
    flex-wrap: wrap;// Centra las tarjetas si hay espacio adicional
}

.title-documents-download {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;     // Texto en negrita
    font-size: 16px;       // Tamaño de 16px
}
.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.custom-expansion-header {
    background-color: #25457F !important; /* Color de fondo */
    color: white; /* Color de texto blanco */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}
  
.custom-expansion-header:hover {
    background-color: #25457F; /* Mantener el mismo color cuando pase el mouse */
}
  
.custom-expansion-header mat-panel-title,
.custom-expansion-header mat-panel-description {
    color: white !important; /* Color de texto blanco */
}

::ng-deep mat-expansion-panel .mat-expansion-indicator::after {
  color: white !important;
}

.card-item {
    width: 100%;
    max-width: 380px; /* Ancho máximo */
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 250px; /* Altura mínima */
    max-height: 400px; /* Altura máxima */
    overflow: hidden;
}

.contentCard {
    font-size: 12px;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentCard::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
}

.contentCard::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.contentCard::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
  
.subtitle-text {
    font-size: 16px;
    margin: 0;
    color: #555;  // Color más suave para el subtítulo
}

.button-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.download-button-zip{
    border-radius: 40px;
    gap: 4px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    background-color: #207C47;
    color: white;
    font-size: 14px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.buttons-action{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.open-file-button{
    border-radius: 40px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 14px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: SLBSans, Roboto, "Helvetica Neue", sans-serif;
}

.title-documents-download-dh {
  width: 100%; 
  overflow: hidden; 
  white-space: nowrap;
  
  .file-info {

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #aaa;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .file-name {
    max-width: 90%;
    overflow: auto;
    white-space: nowrap;
  }

  .file-size {
    flex-shrink: 0; 
  }
}
.no-documents-message {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}