<!-- <app-custom-shaya-header headerTitle="Documentos">
</app-custom-shaya-header>
 -->
<div class="title-container">
  <div class="title-content">
    <h1 class="title-text">
      {{ selectedItem?.wellName + ' | ' + selectedItem?.operationCode + ' ' + selectedItem?.operationNumber }}
    </h1>
    <p class="subtitle-text">
      ID Oilfield Operations: {{ selectedItem?.idOilfieldOperations }} 
    </p>
    <br>
    <!-- Botón Descargar todo en .zip -->
    <shared-button-download-zip
      *ngIf="arrayReleases.length > 0"
      [folder]="completeFolder"
      label="Descargar todo en .zip"
      [documentsElement]="completeFolder"
    ></shared-button-download-zip>
  </div>
</div>
<br>
<!-- Mostrar las carpetas -->
<mat-expansion-panel [expanded]="isFoldersOpen">    
    <mat-expansion-panel-header class="custom-expansion-header">
      <mat-panel-title>
        Enviados
      </mat-panel-title>
      <mat-panel-description>
        Visualización de documentos que se enviaron al pozo
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <div class="button-container">
      <!-- Botón Descargar todas las carpetas en .zip -->
      <shared-button-download-zip
        *ngIf="arrayReleases.length > 0"
        [folder]="sendFolderD"
        label="Descargar todas las carpetas en .zip"
        [documentsElement]="documentsElement"
      ></shared-button-download-zip>
    </div>
    <br>
    <!-- Mostrar mensaje si arrayReleases está vacío -->
    <div *ngIf="arrayReleases.length === 0" class="no-documents-message">
      <p>📂 Sin Documentos</p>
    </div>
    
    <div *ngIf="arrayReleases.length > 0" class="row approved-information" >
      <div class="card-iterator" *ngFor="let sendFolders of sendFolderD.subFolders">
        <!-- Verificar que dhFolder tiene elementos -->
        <div class="card-item">
          <mat-card class="card">
            <div class="title-documents-download">
              <p>📂 {{sendFolders.name}} 
                ({{countDirectDocumentsAndFolders(sendFolders).filesCount 
                  + countDirectDocumentsAndFolders(sendFolders).foldersCount}})
              </p>
            </div>
            <div> 
              <hr>
              <mat-card-content class="contentCard">
                <!-- Mostrar el nombre de cada elemento dentro del primer elemento de dhFolder -->
                  <div *ngFor="let subFolder of sendFolders.subFolders" class="file-item">
                    <div class="subtitle">
                      📂 {{ subFolder.name }}
                    </div>
                  </div>
                  <br>
                  <!-- Mostrar archivos dentro de la carpeta -->
                  <div *ngFor="let file of sendFolders.files" class="file-item">
                    <div class="subtitle">
                      📄 {{ file.fileName }} - {{ file.size / (1024 * 1024) | number:'1.2-2' }} mb
                    </div>
                  </div>
                <br>
              </mat-card-content>
              <hr>
              <mat-card-actions class="card-actions">
              <div class="buttons-action">
                <shared-button-download-zip
                  [documentsElement]="sendFolders"
                  label = "DESCARGAR"
                  [folder]="sendFolders"
                ></shared-button-download-zip>
                <button 
                  class="open-file-button" 
                  (click)="toggleOpenFile(sendFolders)">
                  ABRIR CARPETA
                </button>
              </div>
                <br>
            </mat-card-actions>
            </div>
            <hr>
          </mat-card>
        </div>
      </div>
    </div>
    <br>
</mat-expansion-panel>
<br>

<!-- Mostrar las carpetas -->
<app-return-files></app-return-files>

<!-- Mostrar las carpetas -->
<app-detained-files></app-detained-files>