.content {
  flex-wrap: wrap !important;
  .pending-card {
    flex-grow: 1 !important;
    width: 350px !important;
    .header {
      display: flex !important;
      .title {
        display: flex !important;
      }
    }
    .contentCard {
      display: flex !important;
      flex-direction: column !important;
      width: 100%;
      .subtitle {
        font-weight: bold;
        margin-top: 0;
      }
      .text {
        margin-top: 0;
      }
    }
    .card-actions {
      display: flex !important;
      width: 100%;
      flex-direction: column;
      align-items: end !important;
      gap: 10px;
      .contentCard {
        display: flex !important;
      }
    }
  }
}
