<h2>{{ isEditMode ? 'Editar Sinónimo' : 'Agregar Sinónimo' }} para el Elemento</h2>

<div *ngIf="standardElementName">
  <strong>Nombre del Elemento:</strong> {{ standardElementName }}
</div>
<form [formGroup]="attributeForm">
  <div>
    <br>
    <label>Nombre del Sinónimo</label>
    <mat-error *ngIf="attributeForm.get('synonym')?.invalid && attributeForm.get('synonym')?.touched">
    El nombre del Sinónimo es obligatorio
    </mat-error>
    <mat-form-field appearance="outline" style="width: 100%;">
        <input matInput 
              placeholder="Ej: Alternativa para {{standardElementName}}" 
              formControlName="synonym" required />
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <button mat-raised-button color="primary"
    (click)="onSubmit()"
    [disabled]="attributeForm.invalid || !idStandardElements">
        {{ isEditMode ? 'Guardar Cambios' : 'Añadir Sinónimo' }}
    </button>
  </div>
</form>