@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.shaya-red-background {
  background-color: map-get($colors, shayaRed);
  color: map-get($colors, shayaWhite);
}
.shaya-white-background {
  background-color: map-get($colors, shayaWhite);
  color: map-get($colors, shayaBlack); 
}

.shaya-green-background {
  background-color: map-get($colors, shayaGreen);
  color: map-get($colors, shayaWhite);
}

.shaya-Second-background {
  background-color: map-get($colors, shayaSecond);
  color: map-get($colors, shayaWhite); 
}


.shaya-blue-background {
  background-color: map-get($colors, shayaBlue);
  color: map-get($colors, shayaWhite); 
}

.secondary-button {
  color: white !important;
}
