@import "@slb-dls/angular-material/assets/styles/theming/dls-typography";
@import "@slb-dls/angular-material/assets/styles/theming/variables/dls-light-theme";

$colors: (
    /*put your vars here*/
    shayaSecond: #207C47,
    shayaWhite: #FFFF,
    shayaBlue: #25457F,
    shayaBlack: black,
    shayaGreen: #A4CB40,
    shayaRed: #7C2020,
);


//merge all maps into common config
$app-theme-config: map-merge(map-merge($colors, $dls-light-base), $dls-typography);
