@import "../base/base-theme";
@import '@slb-dls/angular-material/assets/styles/theming/dls-palette';
@import "./variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

// Header styles -----------------------------------------------------

.dls-page-header-container {
    background-color: map-get($colors, shayaSecond) !important;
}

.dls-page-title-text{
    color: map-get($colors, shayaWhite) !important;
}

.dls-page-header-row .ng-star-inserted{
    color: map-get($colors, shayaWhite) !important;
}

// SideNav styles -----------------------------------------------------

.dls-sidenav{
    background-color: map-get($colors, shayaWhite) !important;
    color: map-get($colors, shayaBlack) !important;
}

.dls-sidenav .dls-side-menu .mat-mdc-list-item .mdc-list-item__content .mdc-list-item__primary-text, html .dls-sidenav .dls-side-menu .mat-mdc-list-item .mdc-list-item__content .mdc-list-item__secondary-text{
    color: map-get($colors, shayaBlack) !important;
}

// Toolbar

.dls-navigation-toolbar{
    background-color: map-get($colors, shayaBlue) !important;
    height: 100px !important;
}

.dls-application-title img {
    height: 80px !important;
    width: auto !important;
}

.dls-navigation-toolbar-prefix {
    background-color: map-get($colors, shayaBlue) !important;

}

.dls-button.dls-accent {
    background-color: map-get($colors, shayaGreen) !important;
    color: map-get($colors, shayaBlue) !important;
}


html .mat-mdc-list-base .mat-mdc-list-option.mdc-list-item--disabled .mdc-list-item__content .mdc-list-item__primary-text,
html .mat-mdc-list-base.mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--disabled .mdc-list-item__content .mdc-list-item__primary-text,
html .mat-mdc-list-base.mat-mdc-action-list .mat-mdc-list-item.mdc-list-item--disabled .mdc-list-item__content .mdc-list-item__primary-text {
    color: map-get($colors, shayaBlue) !important;
    opacity: 1 !important;
    border-bottom: 1px solid map-get($colors, shayaBlue) !important;
}

html .dls-sidenav .dls-side-menu .mat-mdc-list-item.selected-item .mdc-list-item__content,
html .dls-sidenav .dls-side-menu .mat-mdc-list-item.selected-item:hover .mdc-list-item__content,
html .dls-sidenav .dls-side-menu .mat-mdc-list-item.selected-item:focus .mdc-list-item__content {
    border-left: solid 2px map-get($colors, shayaBlue) !important;
}
