well: {{well}}<app-generic-request-page
  #genericRequestPage
  [title]="'Rechazar información'"
  [message]="'Por favor, proporciona más información para rechazar la revisión.\n Tu retroalimentación es importante para corregir los problemas encontrados.'"
  [confirmButtonText]="'Rechazar revisión'"
  [cancelButtonText]="'Cancelar'"
  [confirmEnabled]="checkboxChecked"
  (confirmAction)="onRejectConfirmed()"  
>
  <div class="reject-wrapper">
    <app-custom-shaya-header headerTitle="Ingresa las observaciones por las que rechazas la información">
    </app-custom-shaya-header>

    <textarea [(ngModel)]="observations"
      class="reject-textarea"
      placeholder="Escribe tus observaciones aquí"
    ></textarea>

    <div class="reject-checkbox">
      <input type="checkbox" id="confirmReject"  [(ngModel)]="checkboxChecked"/>
      <label for="confirmReject">
        Confirmo que he revisado la información y mi rechazo es definitivo
      </label>
    </div>

    <div class="buttons-wrapper">
      <!-- Buttons handled by component -->
    </div>
  </div>
</app-generic-request-page>


<app-custom-shaya-header-icon headerIcon="checklist" headerTitle="Verificación de elementos que estas recibiendo">
  <app-button [isHover]=true [isPrimary]=false label="Agregar otro archivo"></app-button>
</app-custom-shaya-header-icon>
<div class="field-search-button">
<div class="container-active">
  <div class="row filter-information">
    <div class="column">
      <div class="search">
        <slb-search
          [searchPlaceholder]="''"
          [showAutocomplete]="true"
          [searchItems]="searchingItems"
          (change)="onSearchChange($event)"
          (searching)="onSearch($event)"
          (cleared)="onSearchClear($event)"
        ></slb-search>
      </div>
    </div>
  </div>
</div>
</div>

<app-dynamic-table_02 #dynamicTable
  [searchingItems]="searchingItems"
  [groupedData]="groupedData"
  [columnConfig]="columnConfig['table1']"
  [updatedFields]="updatedFields"
  (updatedFieldsChange)="onUpdatedFieldsChange($event)"
  [searchTerm]="searchTerm"
  [genericRequestPage]="genericRequestPage"
  (parentAction)="handleAction($event)"
  (rejectedEquipmentChange)="onRejectedEquipmentChange($event)"
  >
</app-dynamic-table_02>
