.search-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  label {
    font-weight: bold;
    font-size: 1rem;
  }

  .search-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    background-color: #fff;

    .search-input {
      flex-grow: 1;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: none;
      outline: none;

      &:focus {
        box-shadow: none;
      }
    }

    .search-button {
      width: 40px;
      height: 40px;
      padding: 0;
      border-left: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        color: #3f51b5;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
