<div class="version-label">V:10262025-1</div>
<button (click)="download('excel')">Download Excel</button>
<div class="well-rig-container">
  <span class="well-rig-text">{{ well }} {{idOilfieldTypeOperations}} {{operationNumber}}/ {{ rig }}</span>
  
</div>
<div class="custom-header-actions">
  <button (click)="getObject()">Print</button>
<button (click)="printUpdatedFields()">printUpdatedFields</button>

  <span>Último guardado: {{ modifydate }} Por {{ modifiedby }}</span>

  <app-field-button
    label="Guardar cambios"
    backgroundColor="shayaGreen"
    (click)="saveAll()">
  </app-field-button>


  <app-field-button
  label="reload"
  backgroundColor="shayaGreen"
  (click)="reloadGroupedData()">
</app-field-button>

<app-field-button
label="notificar"
backgroundColor="shayaGreen"
(click)="notify()">
</app-field-button>
  
</div>

<div class="stepper">
  <app-field-dynamic-stepper  
    [steps]="steps"
    [changesPending]="getPendingChanges()"
    [disable]="!isSummaryAvailable"
    [onSave]="handleSave.bind(this)">
    >
  </app-field-dynamic-stepper>
</div>
<div class="content">
  <div *ngIf="loading">Loading data, please wait...</div>
  <div *ngIf="!loading">
    <app-field-dynamic-content
       *ngIf="equipmentOptionsLoaded"
      [isSummaryAvailable] = "isSummaryAvailable"
      [stepContents]="stepContents"
      [searchingItems]="searchingItems"
      [groupedData]="groupedData"
      [reloadGroupedData]="reloadGroupedData.bind(this)"
      [getAttributes]="getAttributes.bind(this)"
      [idOilFielOperations]="idOilFielOperations"
      [idOilfieldTypeOperations]="idOilfieldTypeOperations"
      [updatedFields]="updatedFields"
      [getStandardElementsOptions]="getStandardElementsOptions.bind(this)"
      [equipmentOptions]="equipmentOptions"
      (updatedFieldsChange)="onUpdatedFieldsChange($event)"
      (groupedDataChange)="onGroupedDataChange($event)" 
      (parentAction)="handleAction($event)"
      [user]="user"
      [onDeleteByOilfieldOperations]="deleteByOilfieldOperations.bind(this)"
      [well]="well"
      (rejectedEquipmentChange)="updateRejectedEquipment($event)">
      
    ></app-field-dynamic-content>
  </div>
</div>
<div *ngIf="message" class="notification">
  {{ message }}
</div>
