
.content {
  margin-bottom: 30px;
  .container-active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px 0 40px;

    .row {
      display: flex;
    }

    .column {
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      flex: 1;
    }

    .column-1 {
      flex: 0 0 60%;
    }

    .column-2 {
      flex: 0 0 30%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 8px;
      //   align-content: center;

      .clear-date {
        padding-top: 16px;
        button {
          background-color: rgba(204, 207, 222, 0.75);
          color: rgba(31, 31, 32, 0.75);
          font-weight: 800;
          border-radius: 8px;
          font-size: 16px;
        }
      }
    }

    .pipes-information {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 100%;
    }
  }
}

.field-search-button {
  margin-bottom: 10px!important;
}



.well-rig-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;  
  color: #1a1a1a;     
  font-weight: bold;  
  gap: 10px;          
  
  padding: 10px;      
  border-radius: 5px; 
}

.well-rig-text {
  letter-spacing: 1px; 
  text-transform: uppercase;
}

.icon-style {
  font-size: 1.5rem; 
  color: #4caf50;    
}

::ng-deep .custom-header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px; 
}

.version-label {
  position: fixed;
  top: 10px;         // distancia desde el borde superior
  right: 10px;       // o usa left: 10px; si lo quieres a la izquierda
  background: white; // opcional: para que no se mezcle con el contenido
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); // opcional
  font-weight: bold;
  z-index: 9999;     // asegura que esté encima de todo
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #323232;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}