button.dropButton {
  cursor: pointer;
  background-color: #7c2020;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  border: none;
}

button.dropButton mat-icon {
  display: flex;
  height: auto;
  width: auto;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 16px;
  color: #ffffff;
}
