.approved-information-content {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  .support-description {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
