<app-custom-shaya-header [headerTitle]="'Documentos de soporte requeridos'">
</app-custom-shaya-header>
<div class="approved-information-content">
  <div class="support-description">
    <p>FALTA TERMINAR 6</p>
    <!-- <app-button-upload
      [label]="'ITP Firmado por Calidad'"
      [files]="[]"
      [extension]="'application/pdf'"
      #signedITPFile
    >
    </app-button-upload> -->
    <app-button label="Finalizar revisión" (click)="acceptButton()"></app-button>
  </div>
</div>
