<p>Formulario de opciones</p>
<form [formGroup]="optionForm">
  <mat-form-field appearance="outline" class="full-width">
    <input matInput placeholder="Valor de la opción" formControlName="newElementName" />
    <mat-error *ngIf="optionForm.get('newElementName')?.invalid && optionForm.get('newElementName')?.touched">
      El valor de la opción es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="verified">¿Verificado?</mat-checkbox>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
     <button mat-raised-button color="primary" (click)="submit()">
      {{ optionToEdit ? 'Editar Opción' : 'Añadir Opción' }}
    </button>
  </div>
</form>
