<items-of-release
  [idReleaseState]="4"
  [idBusinessLine]="
    user.idBusinessLine === 7 || user.idBusinessLine === 5 ? null : user.idBusinessLine
  "
  [itemsSteps]="
    user.idBusinessLine === 1
      ? [
          {
            icon: 'check_circle',
            text: 'Aprobado por el segmento',
            correct: true,
          },
          { icon: 'check_circle', text: 'Enviado a Campo', correct: true },
        ]
      : [
          {
            icon: 'check_circle',
            text: 'Aprobado por el segmento',
            correct: true,
          },
          { icon: 'check_circle', text: 'Aprobado por QAQC', correct: true },
          { icon: 'check_circle', text: 'Aprobado por PEC', correct: true },
          { icon: 'check_circle', text: 'Enviado a Campo', correct: true },
        ]
  "
  [title]="'Aprobados por PEC - En campo'"
  [urlRedirect]="urlRedirect"
/>
