<div class="content">
  <mat-card class="pipe-card">
    <mat-card-header class="header">
      <mat-card-title class="title">{{ title }}</mat-card-title>
      <mat-card-title class="title">{{ element.operationDescription }}</mat-card-title>
      <mat-card-subtitle>{{ element.worig }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="contentCard">
      <p><strong>Nombre largo:</strong> {{ longNameWell }}</p>
      <p>
        <strong>Estado:</strong>
        {{ getFormattedStatusLabel() }}
        <mat-icon
          class="info-icon"
          matTooltip="{{ getFormattedStatusDescription() }}"
          aria-label="Estado información"
        >
          info
        </mat-icon>
      </p>

      <p><strong>Actividad:</strong> {{ activity }}</p>
      <p *ngIf="dateStartActivity !== null; else nodateStart">
        <strong>Fecha de inicio de operaciones:</strong>
        {{ dateStartActivity | dateCustomFormatFromAvocet }}
      </p>

      <p *ngIf="jobLogStartSuspen !== null; else noDateStartSuspen">
        <strong>Fecha de suspensión de operaciones:</strong>
        {{ jobLogStartSuspen | dateCustomFormatFromAvocet }}
      </p>

      <p *ngIf="jobLogEndSuspen !== null; else noDateEndSuspen">
        <strong>Fecha de reinicio de operaciones:</strong>
        {{ jobLogEndSuspen | dateCustomFormatFromAvocet }}
      </p>

      <p *ngIf="dateEndActivity !== null; else nodateEnd">
        <strong>Fecha de finalización de operaciones:</strong>
        {{ dateEndActivity | dateCustomFormatFromAvocet }}
      </p>

      <!-- <p>Último ingreso de elementos:</p>
      <p *ngIf="date != null; else nodate">
        {{ date | dateCustomFormat }}
      </p> -->
      <br />
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <ng-content class="contentCard"></ng-content>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #nodate>
  <p>Ningún documento ingresado</p>
</ng-template>
<ng-template #nodateStart>
  <p>Sin fecha de inicio registrada</p>
</ng-template>
<ng-template #nodateEnd>
  <p>Sin fecha de fin registrada</p>
</ng-template>
<ng-template #noDateStartSuspen> </ng-template>
<ng-template #noDateEndSuspen> </ng-template>
