/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'SLBSans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.app-content {
    padding: 20px;
}

@mixin slb-framework-sidenav-adapted{
    slb-framework-sidenav{
        color: white !important;
    }
}

slb-framework-sidenav {
    color: white !important;
}