@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);
/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

.content {
  .stepper-container {
    .mat-stepper-horizontal {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          padding: 0px !important;
        }
        .mat-horizontal-content-container {
          padding: 0px !important;
        }
      }
    }
  }
}

.containerTitle {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 1000;           
  padding-top: 20px;       
  padding-bottom: 10px;    
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  #releaseType, p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0px;
  }
  #releaseType, .subtitulo{
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
  }
}

.onSummarButton {
  .column {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
  }
}
