<p>Se eliminará el elemento {{nameStandardElement}}</p>
<label class="checkbox">
  <input type="checkbox" [(ngModel)]="isChecked" />
  Acepto la eliminación de la información y soy consciente de que no se podrá recuperar.
</label>
<div *ngIf="!isChecked" class="markCheckboxAlert">* Acepte la eliminación de la información</div>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <button *ngIf="isChecked"
    mat-raised-button 
    style="background-color: #e91e63; color: white;" 
    class="delete-button" 
    (click)="deleteElement()"
  >
    Eliminar
  </button>
  <button *ngIf="!isChecked"
    mat-raised-button 
    style="background-color: #d4ccd0; color: rgb(0, 0, 0);" 
    class="delete-button"
    disabled
  >
    Eliminar
  </button>
</div>
