<mat-expansion-panel [expanded]="isFoldersOpen">
  <mat-expansion-panel-header class="custom-expansion-header">
    <mat-panel-title>Retornados</mat-panel-title>
    <mat-panel-description>Visualización de documentos que fueron retornados</mat-panel-description>
  </mat-expansion-panel-header>

  <br>
  <div class="button-container" *ngIf="hasFilesInFirstSubFolderReturn()">
    <shared-button-download-zip
      [folder]="returnFolder.subFolders[0]"
      label="Descargar todas las carpetas en .zip"
      [documentsElement]="returnFolder.subFolders[0]"
    ></shared-button-download-zip>
  </div>

  <div *ngIf="!hasFilesInFirstSubFolderReturn()" class="no-documents-message">
    <p>📂 Sin Documentos</p>
  </div>

  <div *ngIf="hasFilesInFirstSubFolderReturn()" class="row approved-information">
    <div class="card-iterator" *ngFor="let subFolder of returnFolder.subFolders">
      <mat-card class="card">
        <div class="title-documents-download">
          <p>
            📂 {{ subFolder.name }}
            ({{ countDirectDocumentsAndFolders(subFolder).filesCount + countDirectDocumentsAndFolders(subFolder).foldersCount }})
          </p>
        </div>
        <mat-card-content class="contentCard">
          <div *ngFor="let file of subFolder.files" class="file-item">
            <div class="subtitle">
              📄 {{ file.fileName }} - {{ file.size / (1024 * 1024) | number:'1.2-2' }} MB
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <div class="buttons-action">
            <shared-button-download-zip
              [documentsElement]="subFolder"
              label="DESCARGAR"
              [folder]="returnFolder"
            ></shared-button-download-zip>
            <button class="open-file-button" (click)="toggleOpenFile(subFolder)">
              ABRIR CARPETA
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-expansion-panel>
<br>