<div class="date-picker-container">
  <div class="calendar-picker">
    <slb-date-picker-range
      class="calendar"
      [placeholder]="'Seleccionar una fecha'"
      [disableTextInput]="true"
      [closeCalendarOnRangeSelected]="true"
      [calendarStartAt]="actualCalendarDate"
      [minValue]="minCalendarDate"
      [maxValue]="maxCalendarDate"
      (rangeSelected)="onDateSelected($event)"
      [dateControl]="dateRange"
      #datepicker
    ></slb-date-picker-range>
  </div>
  <div class="clear-date">
    <button slb-button [title]="'Limpiar calendario'" (click)="onClearDate()">
      <mat-icon class="clear-button" svgIcon="clear"></mat-icon>
    </button>
  </div>
</div>
