<div class="container">
  <div class="business-line-selector">
    <show-id-business-line
      [allowAllOption]="false"
      (idSelected)="onBusinessLineSelected($event)"
    ></show-id-business-line>
  </div>

  <div>
    <label for="search-input">Ingresa la descripción que usarás en el ITP:</label>
    <mat-form-field appearance="outline" style="width: 100%;">
        <input
        matInput
        [(ngModel)]="description"
        name="description"
        id="description"
        placeholder="Descripción del elemento"
        required
        />
    </mat-form-field>
  </div>

  <div class="button-container">
    <app-button [label]="'Revisar'" (click)="saveDescription()">
      Revisar
    </app-button>
  </div>
</div>

<div *ngIf="isAllFieldsValid" class="results-container">
  <app-validate-description
    [idBusinessLine]="selectedBusinessLine"
    [description]="description"
  ></app-validate-description>
</div>