<app-custom-shaya-header headerTitle="Documentos generados">
</app-custom-shaya-header>
<div class="buttons-wrapper">
  <div class="button-container">
    <app-button label="Visualizar Tally"></app-button>
  </div>
  <div class="button-container">
    <app-button label="Visualizar Sumario"></app-button>
  </div>
  <div class="button-container">
    <app-button label="Visualizar Diagrama mecánico"></app-button>
  </div>
  <div class="button-container">
    <app-button label="Pasar a revisión"></app-button>
  </div>
</div>