.element-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  padding: 2rem;
  gap: 2%;
  width: 90%; 
  margin: 0 auto;
}

.selection-area {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1%;
  width: 100%;
}

.selection-area-search {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  gap: 1rem; 
  width: 100%;
  margin: 1rem 0;
}

.search-list-container {
  grid-column: 2; 
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.search-list-container > .search-wrapper {
  margin: 0;
}

.selected-elements-display {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.selected-elements-display > * {
  flex-grow: 1;
}

list-element-component {
  grid-column: 2; 
  width: 100%; 
  min-width: 0;
}

.selected-elements-container {
  display: flex;
  width: 100%;
  gap: 1%; 
  margin-top: 1rem;
}

.selected-elements-container > * { 
  flex-grow: 1; 
  border: 1px solid #ccc; 
  padding: 0.5rem; 
  text-align: center; 
}