@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

.insert-information-description {
  .descriptions {
    text-align: center;
  }

  .returnProcess {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
}

.container-information-description {
  position: relative;
  overflow: auto;

  .descriptions {
    text-align: center;
  }

  .correct-item p {
    color: map-get($colors, shayaSecond) !important;
  }

  .incorrect-body {
    .incorrect-item {
      color: map-get($colors, shayaRed);
      p {
        margin: 0;
      }
    }

    .incorrect-value {
      color: map-get($colors, shayaBlue);
      p {
        margin: 0;
      }
      span {
        color: map-get($colors, shayaRed);
      }
    }
  }
  .button-add-element-data-base {
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
  }
  
  .input-element-name {
    display: block; /* Asegura que sea un elemento en bloque para ocupar el ancho */
    width: 150%; /* Ocupa el 150% del ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #c5c5c5; /* Borde gris */
    border-radius: 12px; /* Esquinas redondeadas */
    font-size: 14px; /* Tamaño de fuente */
    color: black; /* Color del texto */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    margin-bottom: 16px; /* Espaciado entre el input y el botón */
  }
  
  .input-element-name::placeholder {
    color: #6b6b6b; /* Color del placeholder */
    font-size: 14px; /* Tamaño de fuente del placeholder */
  }
  
  app-button {
    margin-top: 8px; /* Espacio entre el input y el botón */
  }
  .add-element {
    padding: 20px 5% 20px 5%;
    .element {
      .header {
        display: flex;
        align-items: center;
        gap: 17px;
        padding-bottom: 20px;
      }
      .previewText {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        font-weight: bold;
      }

      .dropdown {
        display: flex;
        padding: 10px 0px 10px 0px;
      }
      

      
      .column-elements {
        .error-item {
          padding: 10px 0px 10px 0px;
          flex-wrap: wrap;
          gap: 20px;

          .elements-error-properties {
            display: flex;
            flex-wrap: nowrap;
            gap: 20px;
            justify-content: flex-start;
          }
          .attributes-group {
            display: flex;
            flex-wrap: wrap; 
            gap: 20px; 
          }
          
          .propierties {
            display: flex;
            flex-direction: row; 
            gap: 20px; 
          }
          .propierties-container {
            display: flex;
            flex-direction: row; /* Alinea los dropdowns en una columna */
            gap: 20px; /* Espacio vertical entre cada fila */
          }

          .dropdown-container {    
            display: flex;
            margin-top: 10px;
            align-items: center;
            flex-wrap: wrap; /* Permite que los elementos bajen si no caben */
            gap: 10px; /* Espacio entre elementos en la misma fila */
          }

          .attribute-label {
            display: flex;
            font-size: 12px;
            font-family: SLBSans, Roboto, "Helvetica Neue", sans-serif;
            margin: 0px 0px -22px 0px;
            font-weight: bold;
            padding-left: 10px;
            align-items: flex-end;
          }
          .element-data {
            padding-top: 20px;
          }
          .incorrect-item p {
            text-transform: uppercase;
          }
          .dropdown-section-remaining{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
            max-width: 100px;
          }
            // Ajusta los dropdowns
          .dropdown-section-remaining mat-form-field {
            flex: 1 1 calc(20% - 10px); // Asegura que cada dropdown ocupe un 20% del ancho del contenedor, menos el espacio entre ellos
            min-width: 150px; // Evita que los dropdowns se hagan demasiado pequeños
            box-sizing: border-box; // Incluye el padding y el border dentro del tamaño calculado
            margin-bottom: 10px; // Espacio entre las filas de dropdowns
          }
          .dropdown-section-remaining mat-form-field {
            margin-bottom: 10px; // Espacio entre filas de dropdowns
          }
        }
      }
    }

    .element-card {
      padding-top: 0;
      overflow: hidden;
      max-width: 100%;
      height: 100%; 

      mat-card-actions {
        justify-content: center;
      }
      mat-card-content {
        .icons {
          border-radius: 50%;
          background-color: map-get($colors, shayaBlue);
          color: white;

          mat-icon {
            margin: 7px;
            display: flex;
          }
        }
      }
    }
    .element-card-extension {
      padding-top: 0;
      overflow: hidden;
      max-width: 100%;
      height: 100%; 
      
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Ajusta espacios entre los elementos */
        gap: 17px;
        padding: 10px; /* Espaciado interno para que no quede tan justo */
        flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si es necesario */
        width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    
        .icons {
          border-radius: 50%;
          background-color: map-get($colors, shayaBlue);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px; /* Tamaño fijo para mantener la forma */
          height: 40px; /* Tamaño fijo para mantener la forma */
          flex-shrink: 0; /* Evita que se reduzca en tamaños pequeños */
          
          mat-icon {
            margin: auto; /* Centra el ícono dentro del círculo */
            display: block;
          }
        }
    
        p {
          margin: 0; /* Elimina márgenes innecesarios */
          flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
          text-align: left; /* Alinea el texto a la izquierda */
        }
      }
    
      mat-card-actions {
        justify-content: center;
      }
    
      mat-card-content {
        padding: 16px;
    
        .icons {
          border-radius: 50%;
          background-color: map-get($colors, shayaBlue);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3%; /* Ajusta este valor para que sea responsivo */
          min-width: 40px; /* Previene que sea demasiado pequeño */
          height: auto;
    
          mat-icon {
            margin: 7px;
            display: flex;
          }
        }
      }
    }    
  }
}
