<app-custom-shaya-header-icon headerIcon="add" headerTitle="Agregar medida a los elementos">
  <app-button
    [isHover]="true"
    [isPrimary]="false"
    label="Descargar Excel IWC"
    (click)="downloadIWC()"
  ></app-button>

  <app-button
    [isHover]="true"
    [isPrimary]="false"
    label="Cargar Excel IWC"
    (click)="excelInput.click()"
  ></app-button>

  <input #excelInput type="file" accept=".xlsx" (change)="onExcelTallySelected($event)" hidden />
</app-custom-shaya-header-icon>

<div class="container-active">
  <div class="checkbox-group">
    <mat-checkbox
      *ngFor="let elemento of elementsCheckListFilter"
      [(ngModel)]="elemento.selected"
      (change)="onCheckboxChange()"
    >
      {{ elemento.name }}
    </mat-checkbox>

    <app-button
      [isHover]="true"
      [isPrimary]="false"
      label="Imprimir elementos sin medida"
      (click)="printElementsWithoutMeasure()"
    >
    </app-button>
  </div>
</div>

<div class="field-search-button">
  <div class="container-active">
    <div class="row filter-information">
      <div class="column">
        <div class="search">
          <slb-search
            [searchPlaceholder]="''"
            [showAutocomplete]="true"
            [searchItems]="searchingItems"
            (change)="onSearchChange($event)"
            (searching)="onSearch($event)"
            (cleared)="onSearchClear($event)"
          >
          </slb-search>
        </div>
      </div>
    </div>
  </div>
</div>

<div #printSection class="print-section">
  <app-dynamic-table_04
    *ngIf="tableAlive"
    [searchingItems]="searchingItems"
    [groupedData]="groupedData"
    [updatedFields]="updatedFields"
    (updatedFieldsChange)="onUpdatedFieldsChange($event)"
    [columnConfig]="columnConfig['table1']"
    [searchTerm]="searchTerm"
  >
  </app-dynamic-table_04>
</div>
