.headerSectionSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
  background-color: #0000FE;
  padding: 0;
  margin: 0;
}
