@import "src/themes/base/base-theme";
@import '@slb-dls/angular-material/assets/styles/theming/dls-palette';
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.table-group {
  display: flex;              /* Apply flexbox to the container */
  justify-content: space-between; /* Space between text and right-side elements */
  align-items: center;   
  background-color: lightsteelblue;     
  //background-color:map-get($colors, shayaGreen);
  padding: 4px;
  font-size: 1.2em;
  text-align: center;  /* Center the text horizontally */
  margin-left: 5px;
  margin: 5px;
  
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

    background-color:map-get($colors, shayaGreen);
    padding: 4px;
    font-size: 1.2em;
    text-align: center;  /* Center the text horizontally */
    
    margin: 0px;
    border-bottom: 1px solid green; 
  }
  .table-group .title-container {
    display: flex;
  align-items: center;
  justify-content: space-between;
    flex-grow: 1;                /* Allows the title to take up the remaining space */
    text-align: center;    
    margin-left: 10px;      /* Centers the title text */
  }
  .table-group .actions-container {
    display: flex;               /* Allows the button and image to be side by side */
    align-items: center;
  }
  
  .actions-container img {
    margin-right: 10px;
    margin-left: 10px;          /* Add spacing between image and button */
  }
  .table-subtitle {
    display: flex;
  align-items: center;
  justify-content: space-between;
    background-color:map-get($colors, shayaBlue);
    padding: 4px;
    font-size: 1.1em;
    text-align: center;  /* Center the text horizontally */
    color: white!important;
    margin: 0px;
  }
  .table-perforations {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    padding: 4px;
    font-size: 1.1em;
    text-align: left;
    margin: 0px;
  }
  
  .table-perforations img {
    height: 20px;
    width: 20px;
    margin: 10px;
    
  }
  
  .table-perforations span {
    vertical-align: middle;
  }
  .table-perforations-center {
    display: flex;
    align-items: center;      
    justify-content: center;  
    padding: 4px;
    font-size: 1.1em;
    margin: 0px;
    border-color: #E0E0E0;    
    border-width: 1px;
    border-style: solid;      
}


.table-perforations-center img {
    height: 20px;
    width: 20px;
    margin-left: 10px;        
}

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
  
    thead {
      background-color: map-get($colors, shayaSecond);
      color: white;
      text-align: center;
  
      th {
        padding: 10px;
      }
    }
  
    tbody {
      tr {
        td {
          padding: 10px;
          border: 1px solid #ddd;
          text-align: center;
        }
      }
    }
  }
  
  .custom-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    border: 0px solid #ddd;
    text-align: 'center';
  }

  .number-column {
    width: 100px; 
    text-align: right;
  }

  .text-column {
    width: auto;
    text-align: center;
  }

  .long-text-column {
    width: 300px; 
    text-align: left;
    word-wrap: break-word;
  }
}

.button-container{
  margin:5px;
  text-align : center;
}

.button-container-right {
  
  right: 0;                  
}

.highlight-updated {
  background-color: #FFD580;
  border: 1px solid #FFA500; 
}
.highlight-to-delete {
  background-color: #ff8080;
  border: 1px solid #ff0000; 
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}

.header-arena {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a3cc3f; // tu color de fondo
  padding: 0.5rem 1rem;
}

.arena-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.button-container {
  margin-left: auto; // empuja el botón a la derecha
}