
<app-generic-request-page #genericRequestPage_AddElement [title]="'Agregar Elemento'">
  <div class="form-container">
    <!-- Section Selector -->
    <div class="form-group">
      <label class="action" for="seccion-select">Sección</label>
      <select id="seccion-select" [(ngModel)]="selectedSeccion" (change)="onSectionChange()">
        <option value=""  selected>Seleccione una seccion</option>
        <option *ngFor="let seccion of secciones">{{ seccion.name }}</option>
      </select>
    </div>


    <div class="form-group">
      <label class="action" for="element-select">Elemento</label>
      <select id="element-select" [(ngModel)]="selectedElement">
        <option value="" selected>Seleccione un elemento</option>
        <option *ngFor="let element of elements">{{ element.name }}</option>
      </select>
      
    </div>
    <div class="button-group">
      <app-field-button
        label="Cancelar"
        (click)="cancelOverlayElement()"
        backgroundColor="shayaWhite">
      </app-field-button>
      <app-field-button
        label="Agregar"
        backgroundColor="shayaSecond"
        (click)="addSeccionRow($event)">
      </app-field-button>
    </div>
  </div>
</app-generic-request-page>

<app-generic-request-page #genericRequestPage_AddSection [title]="'Datos de la sección'">

  <div class="custom-form-container">
    <!-- Section Selector -->
    <label class="action" for="seccion-select">Sección</label>
    <div class="form-group">
      <select id="seccion-select" [(ngModel)]="selectedSeccion" (change)="onSectionChange()">
        <option value=""  selected>Seleccione una seccion</option>
        <option *ngFor="let seccion of secciones">{{ seccion.name }}</option>
      </select>
    </div>

    <label class="action" for="element-select">Nombre de la sección</label>
    <div class="form-group">
        <input class="custom-form-container-input " placeholder="Nombre sección">
    </div>
    <!-- Action Buttons -->
    <div class="button-group">
      <app-field-button
        label="Crear"
        backgroundColor="shayaSecond"
        (click)="addSeccionRow($event)">
      </app-field-button>
    </div>

  </div>
    <div class="form-container">
      <h3 class="action">Datos del elemento</h3>

      <div class="actions">
        <label class="action">Nombre del elemento</label>
        <input class="custom-form-container-input " placeholder="Nombre elemento">
      </div>

      <h3 class="action">Atributos del elemento</h3>

      <div class="actions">
        <label class="action">Nombre del atributo 1</label>
        <input class="custom-form-container-input " placeholder="Nombre atributo 1">
      </div>

      <div class="actions">
        <label class="action">Nombre del atributo 2</label>
        <input class="custom-form-container-input " placeholder="Nombre atributo 2">
      </div>

    <app-field-button
      label="Agregar atributo"
      backgroundColor="shayaSecond"
      (click)="addSeccionRow($event)">
    </app-field-button>

    <!-- Action Buttons -->
    <div class="button-group">
      <app-field-button
        label="Cancelar"
        backgroundColor="shayaWhite">
      </app-field-button>
            <app-field-button
        label="Crear elemento"
        backgroundColor="shayaSecond"
        (click)="addRow($event)">
      </app-field-button>
    </div>
  </div>

</app-generic-request-page>

<app-generic-request-page #genericRequestPage_AddSection2 [title]="'Rechazar RUN BES'"
  [message]="'Por favor, proporciona más información para rechazar el RUN BES. Tu retroalimentación es importante para corregir los problemas encontrados. Ingresa las observaciones por las que rechazas la información'"
  [confirmButtonText]="'Rechazar RUN BES'" [cancelButtonText]="'Cancelar'">
</app-generic-request-page>

<app-generic-request-page #genericRequestPage_AddEquipment [title]="'Agregar Equipo'">
  <div class="form-container">

    <!-- Business Line -->
    <div class="form-group">
      <label class="action">Business Line</label>
      <select [(ngModel)]="selectedBusinessLine" (change)="onBusinessLineChange()">
        <option value="" selected disabled>Seleccione un Business Line</option>
        <option *ngFor="let bl of businessLines" [value]="bl">{{ bl }}</option>
      </select>
    </div>

    <!-- Tipo de Infraestructura -->
    <div class="form-group">
      <label class="action">Tipo de Infraestructura</label>
      <select [(ngModel)]="selectedInfrastructureType" (change)="onInfrastructureTypeChange()">
        <option value="" selected disabled>Seleccione un Tipo de Infraestructura</option>
        <option *ngFor="let infra of infrastructureTypes" [value]="infra">{{ infra }}</option>
      </select>
    </div>

    <!-- Elemento -->
    <div class="form-group">
      <label class="action">Elemento</label>
      <select [(ngModel)]="selectedElement" (change)="onElementChange()">
        <option value="" selected>Seleccione un Elemento</option>
        <option *ngFor="let el of filteredElements" [value]="el">{{ el }}</option>
      </select>
    </div>

    <!-- Attributes -->
    <div class="attributes-grid">
      <div class="attributes-wrapper">
        <div class="attributes-grid">
          <div class="form-group" *ngFor="let attribute of attributeOptionsArray">
            <label class="action">{{ attribute[0] }}</label>
            <select
              [(ngModel)]="selectedAttributes[attribute[0]]"
              (ngModelChange)="onAttributeChange(attribute[0], $event, attribute[1])"
              [compareWith]="compareAttributeOptions">
              <option [ngValue]="null" Selected>Seleccione una opción</option>
              <option *ngFor="let option of getOptionsWithIds(attribute[0], attribute[1])" [ngValue]="option">
                {{ option.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="button-group">
      <app-field-button
      label="Cancelar"
      (click)="cancelOverlay()"
      backgroundColor="shayaWhite">
    </app-field-button>
            <app-field-button
        label="Agregar Equipo"
        backgroundColor="shayaSecond"
        (click)="addEquipment($event)">
      </app-field-button>
    </div>

  </div>
</app-generic-request-page>

<app-custom-shaya-header-icon headerIcon="checklist" headerTitle="Información inicial">
  <div class="custom-header-actions">
    <app-field-button
      *ngIf="hasRawData()"
      label="Borrar datos preliminares actividad.xml"
      backgroundColor="shayaGreen"
      (click)="eraseRawData()">
    </app-field-button>

    <app-file-upload
      *ngIf="!hasRawData()"
      label="Agregar archivo OpenWells de la última actividad.xml"
      [idOilFielOperations]="idOilFielOperations"
      [modifiedby]="user.id.toString()">
    </app-file-upload>
    <img (click)="onEraseAllGroups()" src='../../../assets/delete_icon.png' alt="Erase"  style="height: 30px; width: 30px; margin: 10px; float: right;"  />
    
  </div>
</app-custom-shaya-header-icon>


<app-custom-shaya-header [hidden]="!showXmlInfo">
  <app-button label="Mostrar información del XML"></app-button>
</app-custom-shaya-header>
<!--
<div hidden="true" class="button-container">
  <app-button hidden="true"  [isHover]=true [isPrimary]=false label="Agregar elemento de sección" (click)="genericRequestPage_AddElement.openOverlay('hi')"></app-button>
  <app-button hidden="true"  [isHover]=true [isPrimary]=false label="Crear canal de información no encontrado" (click)="genericRequestPage_AddSection.openOverlay()"></app-button>
</div>
-->
<div class="field-search-button">
  <div class="container-active">
    <div class="row filter-information">
      <div class="column">
        <div class="search">
          <slb-search [searchPlaceholder]="''" [showAutocomplete]="true" [searchItems]="searchingItems" (change)="onSearchChange($event)"
            (searching)="onSearch($event)" (cleared)="onSearchClear($event)">
          </slb-search>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dynamic-table_01
  [searchingItems]="searchingItems"
  [groupedData]="groupedData"
  [columnConfig]="columnConfig?.table1"
  [searchTerm]="searchTerm"
  [genericRequestPage_AddElement]="genericRequestPage_AddElement"
  [genericRequestPage_AddEquipment]="genericRequestPage_AddEquipment"
  [getAttributes]="getAttributes.bind(this)"
  [standardAttributesService]="standardAttributesService"
  (groupedDataChange)="onGroupedDataChange($event)" 
  (parentAction)="handleAction($event)"
  [equipmentOptions]="equipmentOptions"
  >
</app-dynamic-table_01>
