<app-generic-request-page
  #genericRequestPage
  [title]="'Solicitud de activación'"
  [message]="
    'Razones por las cuales desea activar el elemento
  Existen errores en las arenas ingresadas, es necesaria realizar la corrección para la finalización contractual del documento
  Usuario que lo solicito:\n
  Segmento:
  '
  "
  [checkboxText]="'Confirmo que revisé los motivos ingresados y mi decisión es definitiva '"
  [confirmButtonText]="'Aceptar solicitud'"
  [cancelButtonText]="'Cancelar'"
></app-generic-request-page>
<div class="row approved-information">
  <div #noDataLabel style="display: none; text-align: center; width: 100%">
    <p>No existe información de momento</p>
  </div>
  <div #errorDataLabel style="display: none; text-align: center; width: 100%">
    <p>Hubo un error al obtener los datos, intenta de nuevo</p>
  </div>

  <div *ngFor="let item of filteredItems" class="card-iterator">
    <!-- <div>Hola</div> -->
    <div class="card-item">
      <mat-card class="card">
        <div>
          <mat-card-header class="header">
            <div class="title" textalign="center">
              {{ item.wellName + ' | ' + item.operationCode + ' ' + item.operationNumber }}
            </div>
          </mat-card-header>
         
          <div class="subtitle">
            ID Oilfield Operations: {{ item.idOilfieldOperations }} | {{ item.wellShortName }} | {{ item.rigName }}
          </div>
          <div class="subtitle">
            Cantidad Releases: {{ item.releaseCount }}
          </div>
          <hr class="separator-line" />
          <mat-card-content class="contentCard">
            <div *ngFor="let card of cardConfig" class="itemCard">
              <div class="column-left">
                <p class="subtitle">{{ card.title }}</p>
              </div>
              <div class="column-right">
                <p class="text">
                  {{ getFormattedValue(card, item) }}
                </p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <div class="buttons-action">
              <app-button
                *ngIf="item.operation_state_name === 'Activo' || !item.operation_state_name"
                label="RUN BES"
                (click)="toggleRunBES(item.idOilfieldOperations)"
              >
              </app-button>
              <app-button
                *ngIf="item.operation_state_name === 'Activo' || !item.operation_state_name"
                label="SUMARIO"
                (click)="toggleShowField(item.idOilfieldOperations)"
              >
              </app-button>
              <app-button-red
                *ngIf="item.operation_state_name !== 'Activo' && item.operation_state_name"
                label="SOLICITAR ACTIVACIÓN"
                (click)="genericRequestPage.openOverlay()"
              >
              </app-button-red>
            </div>
            <br />
            <div class="buttons-wrapper">
              <button
                mat-raised-button
                matTooltip="Historial de cambio"
                matTooltipPosition="below"
                aria-label="Button that displays a tooltip for checklist"
              >
                <mat-icon svgIcon="checklist"></mat-icon>
              </button>
              <button
                mat-raised-button
                matTooltip="Historial de revisiones"
                matTooltipPosition="below"
                aria-label="Button that displays a tooltip for time"
              >
                <mat-icon svgIcon="time"></mat-icon>
              </button>
              <button
                mat-raised-button
                matTooltip="Estado del pozo"
                matTooltipPosition="below"
                aria-label="Button that displays a tooltip for activity"
              >
                <mat-icon svgIcon="activity"></mat-icon>
              </button>
              <button
                mat-raised-button
                matTooltip="Documentos"
                matTooltipPosition="below"
                (click)="toggleDocuments(item)"
              >
                <mat-icon svgIcon="document"></mat-icon>
                <!-- Aquí se usa el ícono de "folder" para representar los documentos -->
              </button>
            </div>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
