<div class="container-approved">
  <header-release [itemsSteps]="itemsSteps" [title]="title" />
  <div class="row filter-information">
    <div class="column column-1">
      <search-by-text
        [originalItems]="this.approvedInformation"
        (itemsChange)="updateItemsChange($event)"
      />
    </div>
    <div class="column column-2">
      <search-by-date
        [originalItems]="this.approvedInformation"
        (itemsChange)="updateItemsChange($event)"
      />
    </div>
  </div>
  <show-items
    [filteredItems]="approvedInformationFiltered"
    [urlRedirect]="urlRedirect"
    [idReleaseState]="idReleaseState"
    [idBusinessLine]="idBusinessLine"
  />
</div>
