.container-approved {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px 0 40px;

    .row {
        display: flex;
    }

    .column {
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        flex: 1;
    }

    .column-1 {
        flex: 0 0 60%;
    }

    .column-2 {
        flex: 0 0 30%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 8px;
        //   align-content: center;

    }
}