      .title {
          h1 {
              text-align: center;
          }
      }
  .stepper-container {
      mat-list {

          //width: 300px;
          mat-list-item {
              font-size: 18px;
              margin-bottom: 10px;

              div {
                  display: flex;
                  align-items: center;
              }

              .true {
                  color: green
              }

              .false {
                  color: red
              }

              mat-icon {
                  margin-right: 10px;
                  width: 24px;
              }
          }
      }

  }