<button
  *ngIf="isPrimary && !isError"
  slb-button
  type="button"
  size="{{ size }}"
  [ngClass]="{ 'shaya-red-background': isPrimary, 'shaya-blue-background': !isPrimary }"
>
  <ng-content></ng-content>
  {{ label }}
</button>

<button
  *ngIf="!isPrimary && !isError"
  class="secondary-button"
  slb-secondary-button
  type="button"
  size="{{ size }}"
>
  <ng-content></ng-content>
  {{ label }}
</button>

<button *ngIf="isError" type="button" [ngStyle]="errorStylesAttr" slb-button>
  <ng-content></ng-content>
  {{ label }}
</button>
