@import "src/themes/base/base-theme";
@import "@slb-dls/angular-material/assets/styles/theming/dls-palette";
@import "src/themes/light/variables";

@include theme-base($dls-app-light-theme, $app-theme-config);

.shaya-red-background {
  background-color: map-get($colors, shayaRed);
  color: white;
}

.shaya-blue-background {
  background-color: map-get($colors, shayaBlue);
  color: white;

  .secondary-button {
    color: white !important;
  }
}
