<div class="dialog-container">
  <div class="dialog-content">
    <p *ngIf="areMultipleFiles">Seguro que desear eliminar todos los archivos</p>
    <p *ngIf="!areMultipleFiles">Seguro que desear eliminar {{ nameFile }}</p>
    <div class="decide-buttons">
      <app-button
        [isPrimary]="false"
        (click)="cancelRemoveFiles(false)"
        label="Cancelar"
      ></app-button>
      <app-button (click)="acceptRemoveFiles(true)" [isError]="true" label="Eliminar"></app-button>
    </div>
  </div>
</div>
