.dialog-container {
  .dialog-content {
    p {
      word-break: break-all;
      max-width: 500px;
    }

    .decide-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      app-button {
        button {
          font-size: 14px !important;
          border-radius: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
}
