.pendingPec-upload-files {
  padding-top: 20px;
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  app-button-upload {
    display: flex !important;
    justify-content: center !important;
  }
}
