.container-releaseHistoryData {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  .row-releaseHistoryData {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    border-top: 1px solid #cfcfcf;
    padding-top: 10px;
    .bullet-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20px;
      .bolt-timeline-icon-prefix {
        min-height: 10px;
        border-color: #cfcfcf;
        border-color: #cfcfcf;
        border-collapse: separate;
        border-left: 1px solid #cfcfcf;
        border-left: 1px solid #cfcfcf;
        min-height: 12px;
      }
      p {
        background-color: #cfcfcf;
        border-radius: 50%;
        height: 0.7em;
        width: 0.7em;
      }
    }
    .data-container {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      align-items: center;
      flex: 1;
      .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        &.comentario {
          background:
            linear-gradient(34.37deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.65) 100%),
            linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
          box-sizing: border-box;
          box-shadow:
            0px 1px 3px 1px rgba(0, 0, 0, 0.15),
            0px 1px 2px 0px rgba(0, 0, 0, 0.3) !important;
          border-image-source: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          -webkit-backdrop-filter: blur(37.5px);
          backdrop-filter: blur(37.5px);
          padding: 20px;
          border-radius: 8px;
          border-width: 1px;
          border-style: solid;
          margin-bottom: 20px;
          p {
            margin: 0px;
            white-space: pre-line;
          }
        }
      }
      p {
        margin-left: 5px;
        margin-bottom: 0px;
        align-items: center;
        margin-top: 0px;
        align-content: center;
        font-size: 16px;
        &.good mat-icon {
          display: flex;
          width: auto;
          font-size: 25px;
          height: auto;
          line-height: normal;
          color: #207c47;
        }
        &.cancel mat-icon {
          display: flex;
          width: auto;
          font-size: 25px;
          height: auto;
          line-height: normal;
          color: #7c2020;
        }
        &.state {
          margin: 0px;
          display: flex;
          font-size: 14px;
          mat-icon {
            display: flex;
            width: auto;
            font-size: 30px;
            height: auto;
            line-height: normal;
            color: #25457f;
          }
        }
      }
    }
    .date-container {
      display: flex;
      margin-left: auto;
      align-items: center;
      width: 255px;
      p {
        margin-left: 5px;
        margin-top: 0px;
        &.time mat-icon {
          display: flex;
          width: auto;
          font-size: 30px;
          height: auto;
          line-height: normal;
        }
      }
    }
  }
}
